docs/n8n/Automations/ClickIn360 CRM Event Router.json
{
  "name": "ClickIn360 CRM Event Router",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/f3a8c2d1-4e5b-6a7f-8c9d-0e1f2a3b4c5d",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        1120
      ],
      "id": "ab60fdb9-20b6-4f53-ac3b-ad0bcab42468",
      "name": "Forward: Project Advocacy (completed)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/f3a8c2d1-4e5b-6a7f-8c9d-0e1f2a3b4c5d",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        1248
      ],
      "id": "175f0a82-835c-466d-bbdb-3e1acb7af4ba",
      "name": "Forward: Project Advocacy (feedback)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## Self-hosted n8n Community Edition\n\n**No Settings → Variables** on the free plan. Edit the **Config: Edit These Values** Set node (yellow fields) in each workflow instead.\n\nOptional: you can also set OS/Docker env vars on the n8n container — not required if you use the Config node.\n\n**STEP 1** Edit **Config: Edit These Values** → set `crm_outbound_webhook_secret` and `n8n_webhook_base`.\n\n**STEP 2** Activate workflow. Copy Production URL → CRM Settings → Automations → Webhook URL.\n\n**STEP 3** Import & activate sub-workflows A, B, C, Appointments (edit Config in each).",
        "height": 400,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2208,
        128
      ],
      "id": "e72a6b25-b01f-4359-b067-0d874f2ecf65",
      "name": "INSTRUCTIONS: Router (Community)1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2832,
        352
      ],
      "id": "1e98d862-1050-4934-bc4d-9b0059e8b109",
      "name": "CRM Router Webhook1",
      "webhookId": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f601bc80-40f4-4687-bc0f-f3737855f448",
              "name": "crm_outbound_webhook_secret",
              "value": "224fcc493dd97aa228b8a7d336cc42e22706915ac3d08cd10339b3a4a584a216",
              "type": "string"
            },
            {
              "id": "cc07d49e-8a64-4abb-a303-87edab0942f6",
              "name": "n8n_webhook_base",
              "value": "https://n8n.clickin360.com/webhook",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3088,
        352
      ],
      "id": "ec607680-4104-418a-ab80-05cfc3e9c477",
      "name": "Config: Edit These Values1"
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst webhook = $('CRM Router Webhook1').first().json;\n\nconst expected = (config.crm_outbound_webhook_secret || '').trim();\nif (!expected || expected === 'PASTE_SAME_SECRET_AS_CRM_HERE') {\n  throw new Error('Edit the Config node: replace PASTE_SAME_SECRET_AS_CRM_HERE with your real secret.');\n}\n\nconst rawHeaders = webhook.headers || {};\nconst headerSecret = Object.entries(rawHeaders)\n  .find(([k]) => k.toLowerCase() === 'x-crm-webhook-secret')?.[1];\nconst secret = String(headerSecret || '').trim();\n\nif (!secret) {\n  throw new Error('Missing x-crm-webhook-secret header. CRM must send it, or test with curl -H \"x-crm-webhook-secret: ...\"');\n}\n\nif (secret !== expected) {\n  throw new Error('Secret mismatch: header does not match Config node. Use the exact same value in CRM and n8n.');\n}\n\nfunction extractPayload(src) {\n  if (src.body && typeof src.body === 'object' && src.body.event) return src.body;\n  if (src.event) {\n    const { headers, params, query, body, crm_outbound_webhook_secret, n8n_webhook_base, ...rest } = src;\n    if (rest.event) return rest;\n  }\n  return src;\n}\n\nconst crm = extractPayload(webhook);\nconst event = crm.event || config.event;\nif (!event) {\n  throw new Error('No event in webhook body.');\n}\n\nreturn [{\n  json: {\n    event,\n    workspace_owner_id: crm.workspace_owner_id || config.workspace_owner_id,\n    emitted_at: crm.emitted_at || config.emitted_at,\n    payload: crm.payload || config.payload || {},\n    n8n_webhook_base: (config.n8n_webhook_base || '').replace(/\\/$/, ''),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        352
      ],
      "id": "af29e83f-8054-43d5-9c14-a5cf26d8a88b",
      "name": "Validate Secret + Pass Through1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "quote.accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quote.accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "invoice.paid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invoice.paid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "onboarding.manual_start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "onboarding.manual_start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "questionnaire.submitted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "questionnaire.submitted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "onboarding.complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "onboarding.complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.updated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.cancelled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "project.completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "project.completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "project.feedback_received",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "project.feedback_received"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3616,
        352
      ],
      "id": "92f34c6a-0954-493b-91db-c0277df0f2e5",
      "name": "Route By Event1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        160
      ],
      "id": "68da05ad-dd13-4e3e-aeeb-b9232f95a4ac",
      "name": "Forward: Onboarding A1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        272
      ],
      "id": "08dca756-5c3f-4f63-bd16-68fecbd3c49e",
      "name": "Forward: Onboarding A (invoice)1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        400
      ],
      "id": "4db2b5ee-604d-4307-81a1-6b2c66086b0e",
      "name": "Forward: Onboarding A (manual)1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/74d2a3eb-0e44-4595-9fe5-01faa0ebc66b",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        512
      ],
      "id": "4eeebb8e-c361-4952-9c63-dbdba2499aef",
      "name": "Forward: Onboarding B1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/ae1e67a5-a991-40e2-ae74-9ab817f73d57",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        640
      ],
      "id": "4a9f6f32-a300-4d32-9db8-3cf4c466d46c",
      "name": "Forward: Onboarding C1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        752
      ],
      "id": "1890d1b9-fc6c-4807-b4fe-a942cce6c80e",
      "name": "Forward: Appointments (create)1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        880
      ],
      "id": "4d8f237e-38ee-4ccc-8baa-3f20c3453e6e",
      "name": "Forward: Appointments (update)1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3872,
        992
      ],
      "id": "e2743aba-defb-45a3-9f33-5b9a039c602b",
      "name": "Forward: Appointments (cancel)1",
      "continueOnFail": true
    }
  ],
  "pinData": {
    "CRM Router Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.clickin360.com",
            "user-agent": "curl/8.7.1",
            "content-length": "198",
            "accept": "*/*",
            "content-type": "application/json",
            "via": "2.0 Caddy",
            "x-crm-webhook-secret": "224fcc493dd97aa228b8a7d336cc42e22706915ac3d08cd10339b3a4a584a216",
            "x-forwarded-for": "47.204.32.42",
            "x-forwarded-host": "n8n.clickin360.com",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "onboarding.manual_start",
            "workspace_owner_id": "test",
            "emitted_at": "2026-01-01T00:00:00Z",
            "payload": {
              "contact_id": "test",
              "contact": {
                "email": "deivis.reynoso@gmail.com",
                "first_name": "Test"
              }
            }
          },
          "webhookUrl": "https://n8n.clickin360.com/webhook/b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "CRM Router Webhook1": {
      "main": [
        [
          {
            "node": "Config: Edit These Values1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Edit These Values1": {
      "main": [
        [
          {
            "node": "Validate Secret + Pass Through1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret + Pass Through1": {
      "main": [
        [
          {
            "node": "Route By Event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Event1": {
      "main": [
        [
          {
            "node": "Forward: Onboarding A1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding A (invoice)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding A (manual)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding B1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding C1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (create)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (update)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (cancel)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Project Advocacy (completed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Project Advocacy (feedback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "14082932-bc51-49d2-b770-e718cc566159",
  "meta": {
    "instanceId": "d3fa9cdd620dd2c6b69b121e71ddbcc9471c89fa2a348af4786bfb8119fd5402"
  },
  "nodeGroups": [],
  "id": "i0cgIpAlXipIQEpk",
  "tags": []
}