docs/n8n/Automations/ClickIn360 Onboarding C — Advocacy.json
{
  "name": "ClickIn360 Onboarding C — Advocacy",
  "nodes": [
    {
      "parameters": {
        "content": "## Self-hosted n8n Community Edition\n\n**No Settings → Variables** on the free plan. Edit the **Config: Edit These Values** Set node (yellow fields) in each workflow instead.\n\nOptional: you can also set OS/Docker env vars on the n8n container — not required if you use the Config node.\n\n**Trigger:** onboarding.complete only.\n\nGoogle review emails moved to **ClickIn360_Project_Advocacy.json** (after positive project feedback). This flow tags the contact onboarded.",
        "height": 300,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        288
      ],
      "id": "130bce33-c151-44aa-933d-a0b7293cac87",
      "name": "INSTRUCTIONS: Advocacy1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ae1e67a5-a991-40e2-ae74-9ab817f73d57",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        992,
        368
      ],
      "id": "b1b929f2-62c9-4bc4-a65d-64789766a8e0",
      "name": "Onboarding C Webhook1",
      "webhookId": "ae1e67a5-a991-40e2-ae74-9ab817f73d57"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b9923b6-665d-4313-806b-900187933604",
              "name": "crm_base_url",
              "value": "https://www.clickin360.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        368
      ],
      "id": "8934b4e1-6e92-4804-a01b-96cc47001d2b",
      "name": "Config: Edit These Values1"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst payload = root.payload || {};\nconst contact = payload.contact || {};\nreturn [{ json: { contact, contactEmail: contact.email, firstName: contact.first_name || 'there', contactId: contact.id, optOut: contact.review_request_opt_out === true, crm_base_url: root.crm_base_url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        368
      ],
      "id": "f7c420e3-7b8f-4fa6-b7df-22d02ad94b62",
      "name": "Parse Advocacy Payload1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2fc64bc-d02d-4473-b44a-e180c86d890a",
              "leftValue": "={{ $json.optOut }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        368
      ],
      "id": "4d695b39-56c2-402f-9f43-7d5f634687a6",
      "name": "IF Opted Out?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.crm_base_url }}/api/integrations/contacts/{{ $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: \"onboarded\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2032,
        368
      ],
      "id": "335736c1-6bbf-48af-8c0a-2fc426e9cc5e",
      "name": "CRM: Tag Contact Onboarded1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Onboarding C Webhook1": {
      "main": [
        [
          {
            "node": "Config: Edit These Values1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Edit These Values1": {
      "main": [
        [
          {
            "node": "Parse Advocacy Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Advocacy Payload1": {
      "main": [
        [
          {
            "node": "IF Opted Out?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Opted Out?1": {
      "main": [
        [
          {
            "node": "CRM: Tag Contact Onboarded1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8bd24e7b-78b2-40cb-947f-1a83d7fa4465",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3fa9cdd620dd2c6b69b121e71ddbcc9471c89fa2a348af4786bfb8119fd5402"
  },
  "nodeGroups": [],
  "id": "p31LHlsuGOeMEdAc",
  "tags": []
}