docs/n8n/Automations/ClickIn360 Onboarding B — Assets Reminders.json
{
  "name": "ClickIn360 Onboarding B — Assets Reminders",
  "nodes": [
    {
      "parameters": {
        "content": "## Self-hosted n8n Community Edition\n\n**No Settings → Variables** on the free plan. Edit the **Config: Edit These Values** Set node (yellow fields) in each workflow instead.\n\nOptional: you can also set OS/Docker env vars on the n8n container — not required if you use the Config node.\n\n**Trigger:** questionnaire.submitted\n\nEdit Config: `crm_base_url` for feedback links.",
        "height": 280,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        -224
      ],
      "id": "bef556f8-8faa-4c52-8028-692d7965ae66",
      "name": "INSTRUCTIONS: Onboarding B"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "74d2a3eb-0e44-4595-9fe5-01faa0ebc66b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1616,
        -224
      ],
      "id": "4154973f-fb47-4289-8683-cec368714712",
      "name": "Onboarding B Webhook",
      "webhookId": "74d2a3eb-0e44-4595-9fe5-01faa0ebc66b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85da1fb9-874d-4171-abf4-0d6df5847d0e",
              "name": "crm_base_url",
              "value": "https://www.clickin360.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -224
      ],
      "id": "02a3a27a-f4f0-423d-aa7e-e38e15e9894b",
      "name": "Config: Edit These Values"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst crmBase = (root.crm_base_url || 'https://www.clickin360.com').replace(/\\/$/, '');\nconst payload = root.payload || {};\nconst contact = payload.contact || {};\nconst locale = payload.locale === 'en' ? 'en' : 'es';\nreturn [{ json: { ...root, contact, locale, contactEmail: contact.email, firstName: contact.first_name || 'there', feedbackUrl: contact.feedback_token ? `${crmBase}/feedback/${contact.feedback_token}` : null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -224
      ],
      "id": "3f171b7d-1576-4e31-add5-4b98bb597954",
      "name": "Parse Payload"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst isEn = d.locale === 'en';\nreturn [{ json: { toEmail: d.contactEmail, subject: isEn ? 'We received your onboarding questionnaire' : 'Recibimos tu cuestionario de incorporación', text: isEn ? `Hi ${d.firstName}, thank you for completing the onboarding questionnaire. Our team will review your answers and follow up shortly.` : `Hola ${d.firstName}, gracias por completar el cuestionario de incorporación. Nuestro equipo revisará tus respuestas y te contactará pronto.` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -224
      ],
      "id": "cd5e8f82-9c60-427c-bebf-1f5fd9bf16b5",
      "name": "Build Confirmation Email"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        2656,
        -224
      ],
      "id": "d8d9ee09-6c56-4506-a194-9947953d1298",
      "name": "Mailgun: Questionnaire Confirmation",
      "credentials": {
        "mailgunApi": {
          "id": "nyCSKNSycMl74trx",
          "name": "Mailgun account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "sales@clickin360.com",
        "subject": "Onboarding questionnaire received",
        "text": "={{ 'Contact ' + $('Parse Payload').item.json.contactEmail + ' submitted the onboarding questionnaire.' }}"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        2912,
        -224
      ],
      "id": "56bb5643-866d-453e-9dda-cc9383655db5",
      "name": "Mailgun: Notify Owner",
      "credentials": {
        "mailgunApi": {
          "id": "nyCSKNSycMl74trx",
          "name": "Mailgun account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Onboarding B Webhook": {
      "main": [
        [
          {
            "node": "Config: Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Edit These Values": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Email": {
      "main": [
        [
          {
            "node": "Mailgun: Questionnaire Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailgun: Questionnaire Confirmation": {
      "main": [
        [
          {
            "node": "Mailgun: Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bc51419f-bf7c-4ab5-84f7-7226575fa891",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3fa9cdd620dd2c6b69b121e71ddbcc9471c89fa2a348af4786bfb8119fd5402"
  },
  "nodeGroups": [],
  "id": "2e2DPjUwmhvNDuEC",
  "tags": []
}