docs/n8n/ClickIn360_CRM_Event_Router.json
{
  "name": "ClickIn360 CRM Event Router",
  "nodes": [
    {
      "parameters": {
        "content": "## Self-hosted n8n Community Edition\n\n**No Settings → Variables** on the free plan. Edit the **Config: Edit These Values** Set node (yellow fields) in each workflow instead.\n\nOptional: you can also set OS/Docker env vars on the n8n container — not required if you use the Config node.\n\n**STEP 1** Edit **Config: Edit These Values** → set `crm_outbound_webhook_secret` and `n8n_webhook_base`.\n\n**STEP 2** Activate workflow. Copy Production URL → CRM Settings → Automations → Webhook URL.\n\n**STEP 3** Import & activate sub-workflows A, B, C, Appointments (edit Config in each).",
        "height": 400,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        96
      ],
      "id": "bda198df-6a9c-45fc-9982-674cbf216efe",
      "name": "INSTRUCTIONS: Router (Community)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1344,
        320
      ],
      "id": "a23c1f4e-68e5-4a70-abd9-3b21649d5396",
      "name": "CRM Router Webhook",
      "webhookId": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f601bc80-40f4-4687-bc0f-f3737855f448",
              "name": "crm_outbound_webhook_secret",
              "value": "224fcc493dd97aa228b8a7d336cc42e22706915ac3d08cd10339b3a4a584a216",
              "type": "string"
            },
            {
              "id": "cc07d49e-8a64-4abb-a303-87edab0942f6",
              "name": "n8n_webhook_base",
              "value": "https://n8n.clickin360.com/webhook",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        320
      ],
      "id": "adb49c21-d390-432c-a658-9adb0ef0c5ad",
      "name": "Config: Edit These Values"
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst webhook = $('CRM Router Webhook').first().json;\n\nconst expected = (config.crm_outbound_webhook_secret || '').trim();\nif (!expected || expected === 'PASTE_SAME_SECRET_AS_CRM_HERE') {\n  throw new Error('Edit the Config node: replace PASTE_SAME_SECRET_AS_CRM_HERE with your real secret.');\n}\n\nconst rawHeaders = webhook.headers || {};\nconst headerSecret = Object.entries(rawHeaders)\n  .find(([k]) => k.toLowerCase() === 'x-crm-webhook-secret')?.[1];\nconst secret = String(headerSecret || '').trim();\n\nif (!secret) {\n  throw new Error('Missing x-crm-webhook-secret header. CRM must send it, or test with curl -H \"x-crm-webhook-secret: ...\"');\n}\n\nif (secret !== expected) {\n  throw new Error('Secret mismatch: header does not match Config node. Use the exact same value in CRM and n8n.');\n}\n\nfunction extractPayload(src) {\n  if (src.body && typeof src.body === 'object' && src.body.event) return src.body;\n  if (src.event) {\n    const { headers, params, query, body, crm_outbound_webhook_secret, n8n_webhook_base, ...rest } = src;\n    if (rest.event) return rest;\n  }\n  return src;\n}\n\nconst crm = extractPayload(webhook);\nconst event = crm.event || config.event;\nif (!event) {\n  throw new Error('No event in webhook body.');\n}\n\nreturn [{\n  json: {\n    event,\n    workspace_owner_id: crm.workspace_owner_id || config.workspace_owner_id,\n    emitted_at: crm.emitted_at || config.emitted_at,\n    payload: crm.payload || config.payload || {},\n    n8n_webhook_base: (config.n8n_webhook_base || '').replace(/\\/$/, ''),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        320
      ],
      "id": "42cb62d7-37d9-475a-8a66-424200142db6",
      "name": "Validate Secret + Pass Through"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "quote.accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quote.accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "invoice.paid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invoice.paid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "onboarding.manual_start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "onboarding.manual_start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "questionnaire.submitted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "questionnaire.submitted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "onboarding.complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "onboarding.complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.updated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.cancelled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "project.completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "project.completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "project.feedback_received",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "project.feedback_received"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2128,
        320
      ],
      "id": "93e19638-a0aa-4e72-b08a-0e6880ccee14",
      "name": "Route By Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        128
      ],
      "id": "10567f38-91e1-467d-ab4b-8bef1c7da129",
      "name": "Forward: Onboarding A",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        240
      ],
      "id": "87465239-0ee1-460c-bfd5-8df26dec8ada",
      "name": "Forward: Onboarding A (invoice)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        368
      ],
      "id": "6f60ff12-ec5e-47d5-a909-dbee8c7d2507",
      "name": "Forward: Onboarding A (manual)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/74d2a3eb-0e44-4595-9fe5-01faa0ebc66b",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        480
      ],
      "id": "91d62247-db81-4bbb-9a23-6522116ed26c",
      "name": "Forward: Onboarding B",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/ae1e67a5-a991-40e2-ae74-9ab817f73d57",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        608
      ],
      "id": "3b02a460-5b1a-4535-98d4-45f5725f6fa8",
      "name": "Forward: Onboarding C",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        720
      ],
      "id": "51811402-d82c-42de-81da-39c36ec6bccc",
      "name": "Forward: Appointments (create)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        848
      ],
      "id": "3ff8faa2-dd18-40b1-97eb-9bb426a8b049",
      "name": "Forward: Appointments (update)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        960
      ],
      "id": "64e3717c-d687-4d24-a57d-e3d45d0fd578",
      "name": "Forward: Appointments (cancel)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/f3a8c2d1-4e5b-6a7f-8c9d-0e1f2a3b4c5d",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        1088
      ],
      "id": "7a8b9c0d-project-completed-forward",
      "name": "Forward: Project Advocacy (completed)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_webhook_base }}/f3a8c2d1-4e5b-6a7f-8c9d-0e1f2a3b4c5d",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        1216
      ],
      "id": "8b9c0d1e-project-feedback-forward",
      "name": "Forward: Project Advocacy (feedback)",
      "continueOnFail": true
    }
  ],
  "pinData": {
    "CRM Router Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.clickin360.com",
            "user-agent": "curl/8.7.1",
            "content-length": "198",
            "accept": "*/*",
            "content-type": "application/json",
            "via": "2.0 Caddy",
            "x-crm-webhook-secret": "224fcc493dd97aa228b8a7d336cc42e22706915ac3d08cd10339b3a4a584a216",
            "x-forwarded-for": "47.204.32.42",
            "x-forwarded-host": "n8n.clickin360.com",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "onboarding.manual_start",
            "workspace_owner_id": "test",
            "emitted_at": "2026-01-01T00:00:00Z",
            "payload": {
              "contact_id": "test",
              "contact": {
                "email": "deivis.reynoso@gmail.com",
                "first_name": "Test"
              }
            }
          },
          "webhookUrl": "https://n8n.clickin360.com/webhook/b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "CRM Router Webhook": {
      "main": [
        [
          {
            "node": "Config: Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Edit These Values": {
      "main": [
        [
          {
            "node": "Validate Secret + Pass Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret + Pass Through": {
      "main": [
        [
          {
            "node": "Route By Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Event": {
      "main": [
        [
          {
            "node": "Forward: Onboarding A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding A (invoice)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding A (manual)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding C",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (cancel)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Project Advocacy (completed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Project Advocacy (feedback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "14ce2d8c-db40-476b-b8f4-45f1b9a2d4b7",
  "meta": {
    "instanceId": "d3fa9cdd620dd2c6b69b121e71ddbcc9471c89fa2a348af4786bfb8119fd5402"
  },
  "nodeGroups": [],
  "id": "i0cgIpAlXipIQEpk",
  "tags": []
}