docs/n8n/ClickIn360_CRM_Event_Router.json
{
  "name": "ClickIn360 CRM Event Router",
  "nodes": [
    {
      "parameters": {
        "content": "## CRM Event Router\n\n**STEP 1** Generate `CRM_OUTBOUND_WEBHOOK_SECRET` (openssl rand -hex 32) and set in CRM .env + N8N variables.\n\n**STEP 2** Activate this workflow. Copy Production URL from **CRM Router Webhook** \u2192 CRM Settings \u2192 Automations \u2192 Webhook URL.\n\n**STEP 3** Set N8N env `N8N_WEBHOOK_BASE` (e.g. https://n8n.clickin360.com/webhook).\n\n**STEP 4** Import & activate sub-workflows A, B, C, Appointment Reminders.\n\n**STEP 5** Test with curl (see docs/n8n/automations-setup-guide.md).",
        "height": 360,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        -200
      ],
      "id": "c0b4f526-9f01-4d02-aa3f-6a0b7e749b3a",
      "name": "INSTRUCTIONS: Router Setup"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d88f24a3-0ce4-461f-b20c-7d1e84148f94",
      "name": "CRM Router Webhook",
      "webhookId": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst secret = headers['x-crm-webhook-secret'] || headers['X-Crm-Webhook-Secret'] || '';\nconst expected = $env.CRM_OUTBOUND_WEBHOOK_SECRET || '';\nif (!expected || secret !== expected) {\n  throw new Error('Invalid x-crm-webhook-secret');\n}\nconst body = $input.first().json.body || $input.first().json;\nreturn [{ json: body }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        0
      ],
      "id": "56a94165-ad37-4fcc-b9b7-a3ce3a6f367e",
      "name": "Validate Secret"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "quote.accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quote.accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "invoice.paid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invoice.paid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "onboarding.manual_start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "onboarding.manual_start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "questionnaire.submitted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "questionnaire.submitted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "onboarding.complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "onboarding.complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.updated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "appointment.cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment.cancelled"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        560,
        0
      ],
      "id": "a93bbb47-310d-4fc7-a5a1-8a5e128257cc",
      "name": "Route By Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={$env.N8N_WEBHOOK_BASE}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        -200
      ],
      "id": "a52ac49a-5651-40a3-a7b6-51bc295d63f2",
      "name": "Forward: Onboarding A",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={$env.N8N_WEBHOOK_BASE}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        -80
      ],
      "id": "80a5ffdd-baf4-494d-8232-02f9bb12b2c4",
      "name": "Forward: Onboarding A (invoice)",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={$env.N8N_WEBHOOK_BASE}/ad82f928-4a37-4c77-8384-0613a10f86e8",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        40
      ],
      "id": "7b869d95-1e85-411c-bed3-c4998c473f83",
      "name": "Forward: Onboarding A (manual)",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={$env.N8N_WEBHOOK_BASE}/74d2a3eb-0e44-4595-9fe5-01faa0ebc66b",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        160
      ],
      "id": "e58cd2ff-b35b-4c9e-929a-a40a7bba7269",
      "name": "Forward: Onboarding B",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={$env.N8N_WEBHOOK_BASE}/ae1e67a5-a991-40e2-ae74-9ab817f73d57",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        280
      ],
      "id": "e7198d4c-241e-432a-825b-c9cd1e9ad5b8",
      "name": "Forward: Onboarding C",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={$env.N8N_WEBHOOK_BASE}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        400
      ],
      "id": "adef8826-a169-4e7b-8bef-344c34aa02dc",
      "name": "Forward: Appointments (create)",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={$env.N8N_WEBHOOK_BASE}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        520
      ],
      "id": "4ba45035-c0e6-45ae-bb51-ce45bc2eb37e",
      "name": "Forward: Appointments (update)",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={$env.N8N_WEBHOOK_BASE}/a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        640
      ],
      "id": "9ad5ed06-15ac-4447-8631-ecc4abca0263",
      "name": "Forward: Appointments (cancel)",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    }
  ],
  "connections": {
    "CRM Router Webhook": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Route By Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Event": {
      "main": [
        [
          {
            "node": "Forward: Onboarding A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding A (invoice)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding A (manual)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Onboarding C",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward: Appointments (cancel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "settings": {
    "executionOrder": "v1"
  }
}