docs/n8n/ClickIn360 Onboarding B — Assets Reminders UPDATE.json
{
  "name": "ClickIn360 Onboarding B — Assets Reminders UPDATE",
  "nodes": [
    {
      "parameters": {
        "content": "## Self-hosted n8n Community Edition\n\n**No Settings → Variables** on the free plan. Edit the **Config: Edit These Values** Set node (yellow fields) in each workflow instead.\n\nOptional: you can also set OS/Docker env vars on the n8n container — not required if you use the Config node.\n\n**Trigger:** questionnaire.submitted\n\nEdit Config: `crm_base_url` for feedback links.",
        "height": 280,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        -224
      ],
      "id": "bef556f8-8faa-4c52-8028-692d7965ae66",
      "name": "INSTRUCTIONS: Onboarding B"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "74d2a3eb-0e44-4595-9fe5-01faa0ebc66b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1616,
        -224
      ],
      "id": "4154973f-fb47-4289-8683-cec368714712",
      "name": "Onboarding B Webhook",
      "webhookId": "74d2a3eb-0e44-4595-9fe5-01faa0ebc66b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85da1fb9-874d-4171-abf4-0d6df5847d0e",
              "name": "crm_base_url",
              "value": "https://www.clickin360.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -224
      ],
      "id": "02a3a27a-f4f0-423d-aa7e-e38e15e9894b",
      "name": "Config: Edit These Values"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst crmBase = (root.crm_base_url || 'https://www.clickin360.com').replace(/\\/$/, '');\nconst payload = root.payload || {};\nconst contact = payload.contact || {};\nconst contactId = payload.contact_id || contact.id || null;\nconst locale = payload.locale === 'en' ? 'en' : 'es';\nconst bookingUrl = locale === 'en' ? crmBase + '/en/book-call' : crmBase + '/es/book-call';\nreturn [{ json: { ...root, contact, contactId, locale, contactEmail: contact.email, firstName: contact.first_name || 'there', feedbackUrl: contact.feedback_token ? crmBase + '/feedback/' + contact.feedback_token : null, crmBase, bookingUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -224
      ],
      "id": "3f171b7d-1576-4e31-add5-4b98bb597954",
      "name": "Parse Payload"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst isEn = d.locale === 'en';\nreturn [{ json: { toEmail: d.contactEmail, subject: isEn ? 'We received your onboarding questionnaire' : 'Recibimos tu cuestionario de incorporación', text: isEn ? `Hi ${d.firstName}, thank you for completing the onboarding questionnaire. Our team will review your answers and follow up shortly.` : `Hola ${d.firstName}, gracias por completar el cuestionario de incorporación. Nuestro equipo revisará tus respuestas y te contactará pronto.` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -224
      ],
      "id": "cd5e8f82-9c60-427c-bebf-1f5fd9bf16b5",
      "name": "Build Confirmation Email"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        2656,
        -224
      ],
      "id": "d8d9ee09-6c56-4506-a194-9947953d1298",
      "name": "Mailgun: Questionnaire Confirmation",
      "credentials": {
        "mailgunApi": {
          "id": "nyCSKNSycMl74trx",
          "name": "Mailgun account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "sales@clickin360.com",
        "subject": "Onboarding questionnaire received",
        "text": "={{ 'Contact ' + $('Parse Payload').item.json.contactEmail + ' submitted the onboarding questionnaire.' }}"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        2912,
        -224
      ],
      "id": "56bb5643-866d-453e-9dda-cc9383655db5",
      "name": "Mailgun: Notify Owner",
      "credentials": {
        "mailgunApi": {
          "id": "nyCSKNSycMl74trx",
          "name": "Mailgun account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Parse Payload').first().json.crmBase }}/api/contacts/{{ $('Parse Payload').first().json.contactId }}/calendar-events?kind=customer_meeting",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        -224
      ],
      "id": "cd455e5f-7245-4fd4-b75b-d3d92c62e50d",
      "name": "CRM: Get Customer Meetings",
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "516495c8-96a9-4f02-a54f-c5193e9cea7d",
              "leftValue": "={{ $json.count || ($json.data || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2656,
        -224
      ],
      "id": "45b0656b-f335-42f0-a8ae-f4a83f5e59f9",
      "name": "IF Has Kickoff Meeting?"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Parse Payload').first().json;\nconst isEn = d.locale === 'en';\nreturn [{ json: { toEmail: d.contactEmail, subject: isEn ? 'Book your kickoff call with ClickIn 360' : 'Agenda tu llamada de inicio con ClickIn 360', text: isEn ? 'Hi ' + d.firstName + ',\\n\\nThank you for completing the questionnaire. Please book your kickoff call here:\\n\\n' + d.bookingUrl + '\\n\\nThank you!' : 'Hola ' + d.firstName + ',\\n\\nGracias por completar el cuestionario. Agenda tu llamada de inicio aquí:\\n\\n' + d.bookingUrl + '\\n\\n¡Gracias!' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -96
      ],
      "id": "3c73167e-bfdc-4cb8-9acd-bbe3236905a0",
      "name": "Build Booking Reminder Email"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        3168,
        -96
      ],
      "id": "8249e7ef-e55b-47ef-a8c7-81ff6e2e5dff",
      "name": "Mailgun: Booking Reminder",
      "credentials": {
        "mailgunApi": {
          "id": "nyCSKNSycMl74trx",
          "name": "Mailgun account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Onboarding B Webhook": {
      "main": [
        [
          {
            "node": "Config: Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Edit These Values": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "CRM: Get Customer Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Email": {
      "main": [
        [
          {
            "node": "Mailgun: Questionnaire Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailgun: Questionnaire Confirmation": {
      "main": [
        [
          {
            "node": "Mailgun: Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Get Customer Meetings": {
      "main": [
        [
          {
            "node": "IF Has Kickoff Meeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Kickoff Meeting?": {
      "main": [
        [
          {
            "node": "Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Booking Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Booking Reminder Email": {
      "main": [
        [
          {
            "node": "Mailgun: Booking Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailgun: Booking Reminder": {
      "main": [
        [
          {
            "node": "Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bc51419f-bf7c-4ab5-84f7-7226575fa891",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3fa9cdd620dd2c6b69b121e71ddbcc9471c89fa2a348af4786bfb8119fd5402"
  },
  "nodeGroups": [],
  "id": "2e2DPjUwmhvNDuEC",
  "tags": []
}
