docs/n8n/ClickIn360_Appointment_Reminders.json
{
  "name": "ClickIn360 Appointment Reminders",
  "nodes": [
    {
      "parameters": {
        "content": "## Self-hosted n8n Community Edition\n\n**No Settings \u2192 Variables** on the free plan. Edit the **Config: Edit These Values** Set node (yellow fields) in each workflow instead.\n\nOptional: you can also set OS/Docker env vars on the n8n container \u2014 not required if you use the Config node.\n\nUses **Wait** nodes (not Sleep). On `appointment.updated`, extend flow to cancel prior schedule in Supabase.",
        "height": 320,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -120
      ],
      "id": "d3872cd8-8baf-4e01-810b-47ddede1bcd0",
      "name": "INSTRUCTIONS: Appointments"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a9b459bc-7c58-4474-b6e2-82bb13172a89",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "43bf86e3-6882-4cc4-9c2c-14f51895214e",
      "name": "Appointment Webhook",
      "webhookId": "a9b459bc-7c58-4474-b6e2-82bb13172a89"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a2455b20-e2fc-4056-b9fa-d8c8a9a95e23",
              "name": "crm_base_url",
              "value": "https://www.clickin360.com",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        0
      ],
      "id": "0126ccf9-d431-47c1-9c9c-c06fa4f7f79a",
      "name": "Config: Edit These Values"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst event = root.event;\nconst payload = root.payload || {};\nconst ev = payload.calendar_event || {};\nconst start = ev.start_time || ev.start_at;\nconst contact = ev.contact || {};\nconst locale = contact.preferred_language === 'en' ? 'en' : 'es';\nreturn [{ json: { event, workspace_owner_id: root.workspace_owner_id, event_id: String(ev.id || payload.calendar_event_id), contact_id: String(ev.contact_id || contact.id || ''), start_time: start, meet_link: ev.meet_link || ev.google_meet_link || null, location_type: ev.location_type || 'other', location_details: ev.location || ev.location_details || null, contact_email: contact.email || ev.contact_email, contact_phone: contact.phone || ev.contact_phone, contact_name: [contact.first_name, contact.last_name].filter(Boolean).join(' ') || ev.contact_name || 'there', locale } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "id": "e985c3c2-5986-4500-8fd7-3b8b783f4fa4",
      "name": "Parse Appointment Event"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "185004c8-f6cd-41c8-9ffd-8789a074cf2b",
              "leftValue": "={{ $json.event }}",
              "rightValue": "appointment.cancelled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        0
      ],
      "id": "eed69c55-0d82-4bc4-a23d-4e158fdc42df",
      "name": "IF Cancelled?"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst start = new Date(d.start_time);\nconst now = new Date();\nconst h24 = new Date(start.getTime() - 24*60*60*1000);\nconst h1 = new Date(start.getTime() - 60*60*1000);\nreturn [{ json: { ...d, reminder_24h_at: h24.toISOString(), reminder_1h_at: h1.toISOString(), skip24: h24 <= now, skip1: h1 <= now, status: (h24 <= now && h1 <= now) ? 'skipped' : 'scheduled' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -60
      ],
      "id": "b2e695db-6e62-4f4f-b4c9-2714dc64beab",
      "name": "Calculate Reminder Times"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "appointment_reminder_schedules",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "event_id",
              "fieldValue": "={{ $json.event_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "workspace_owner_id",
              "fieldValue": "={{ String($json.workspace_owner_id) }}"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $json.start_time }}"
            },
            {
              "fieldId": "reminder_24h_at",
              "fieldValue": "={{ $json.reminder_24h_at }}"
            },
            {
              "fieldId": "reminder_1h_at",
              "fieldValue": "={{ $json.reminder_1h_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "locale",
              "fieldValue": "={{ $json.locale }}"
            },
            {
              "fieldId": "meet_link",
              "fieldValue": "={{ $json.meet_link }}"
            },
            {
              "fieldId": "location_type",
              "fieldValue": "={{ $json.location_type }}"
            },
            {
              "fieldId": "location_details",
              "fieldValue": "={{ $json.location_details }}"
            },
            {
              "fieldId": "contact_email",
              "fieldValue": "={{ $json.contact_email }}"
            },
            {
              "fieldId": "contact_phone",
              "fieldValue": "={{ $json.contact_phone }}"
            },
            {
              "fieldId": "contact_name",
              "fieldValue": "={{ $json.contact_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        -60
      ],
      "id": "fec549d5-2895-4a45-b8f1-dd69fb69949b",
      "name": "Supabase: Upsert Schedule",
      "credentials": {
        "supabaseApi": {
          "id": "RMU1A9mNhAl6E751",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Calculate Reminder Times').item.json.reminder_24h_at }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1820,
        -60
      ],
      "id": "21cac4b2-4fc2-4f84-871e-717d0b38a673",
      "name": "Wait Until 24h Before",
      "webhookId": "81ae7b2f-318f-42d3-b21a-144702bd57be"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Calculate Reminder Times').first().json;\nconst isEn = d.locale === 'en';\nlet text = isEn ? `Hi ${d.contact_name}, reminder: appointment tomorrow with ClickIn360.` : `Hola ${d.contact_name}, recordatorio: cita ma\u00f1ana con ClickIn360.`;\nif (d.location_type === 'google_meet' && d.meet_link) text += `\\n\\n${isEn ? 'Join' : 'Enlace'}: ${d.meet_link}`;\nelse if (d.location_details) text += `\\n\\n${d.location_details}`;\nreturn [{ json: { toEmail: d.contact_email, subject: isEn ? 'Your appointment tomorrow with ClickIn360' : 'Tu cita de ma\u00f1ana con ClickIn360', text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -60
      ],
      "id": "1ae680ad-39c9-437b-8f7e-078f79b752ee",
      "name": "Build 24h Reminder"
    },
    {
      "parameters": {
        "fromEmail": "ClickIn 360 <no-reply@mail.clickin360.com>",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        2340,
        -60
      ],
      "id": "06cc366c-a822-4c8a-8d91-0d93aba50b20",
      "name": "Mailgun: 24h Reminder",
      "credentials": {
        "mailgunApi": {
          "id": "686871dc-7fb6-4452-8499-05cb780996e0",
          "name": "Mailgun"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Calculate Reminder Times').item.json.reminder_1h_at }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        -60
      ],
      "id": "c91500cd-146e-4a04-ac79-40dcd22fc364",
      "name": "Wait Until 1h Before",
      "webhookId": "14ceec10-a21a-40b7-8164-52850c382b8d"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Calculate Reminder Times').first().json;\nconst isEn = d.locale === 'en';\nlet text = isEn ? `Hi ${d.contact_name}, your call with ClickIn360 is in 1 hour.` : `Hola ${d.contact_name}, tu llamada con ClickIn360 es en 1 hora.`;\nif (d.meet_link) text += ` ${d.meet_link}`;\nreturn [{ json: { toEmail: d.contact_email, subject: isEn ? 'Your ClickIn360 call is in 1 hour' : 'Tu llamada con ClickIn360 es en 1 hora', text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -60
      ],
      "id": "dd2e5bb0-a299-4b2e-b5f9-a5d32df0b8ba",
      "name": "Build 1h Reminder"
    },
    {
      "parameters": {
        "fromEmail": "ClickIn 360 <no-reply@mail.clickin360.com>",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        3120,
        -60
      ],
      "id": "5a632a42-c4e7-41af-8de9-01f2f7057cfd",
      "name": "Mailgun: 1h Reminder",
      "credentials": {
        "mailgunApi": {
          "id": "686871dc-7fb6-4452-8499-05cb780996e0",
          "name": "Mailgun"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Appointment Webhook": {
      "main": [
        [
          {
            "node": "Config: Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Edit These Values": {
      "main": [
        [
          {
            "node": "Parse Appointment Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Appointment Event": {
      "main": [
        [
          {
            "node": "IF Cancelled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Cancelled?": {
      "main": [
        [],
        [
          {
            "node": "Calculate Reminder Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Reminder Times": {
      "main": [
        [
          {
            "node": "Supabase: Upsert Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Upsert Schedule": {
      "main": [
        [
          {
            "node": "Wait Until 24h Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until 24h Before": {
      "main": [
        [
          {
            "node": "Build 24h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 24h Reminder": {
      "main": [
        [
          {
            "node": "Mailgun: 24h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailgun: 24h Reminder": {
      "main": [
        [
          {
            "node": "Wait Until 1h Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until 1h Before": {
      "main": [
        [
          {
            "node": "Build 1h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 1h Reminder": {
      "main": [
        [
          {
            "node": "Mailgun: 1h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "settings": {
    "executionOrder": "v1"
  }
}