docs/n8n/ClickIn360_Project_Advocacy.json
{
  "name": "ClickIn360 Project Advocacy",
  "nodes": [
    {
      "parameters": {
        "content": "## Project Advocacy (post-delivery)\n\n**Triggers (via CRM Event Router):**\n- `project.completed` → send project feedback survey email\n- `project.feedback_received` → guardrail + 24h Wait → Google review (if score ≥ threshold)\n\nEdit **Config: Edit These Values**:\n- `crm_base_url`\n- `google_reviews_url` (match CRM Settings → Google review invitations)\n- `review_score_threshold` (match CRM Settings → Automations → Project stages)\n- `google_review_delay_hours` (default 24 — must match Wait node)\n\n**NOT** the manual CRM Request review button.",
        "height": 360,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-720, -40],
      "id": "a1b2c3d4-note-project-advocacy",
      "name": "INSTRUCTIONS: Project Advocacy"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f3a8c2d1-4e5b-6a7f-8c9d-0e1f2a3b4c5d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "b2c3d4e5-webhook-project-advocacy",
      "name": "Project Advocacy Webhook",
      "webhookId": "f3a8c2d1-4e5b-6a7f-8c9d-0e1f2a3b4c5d"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "cfg-crm-base",
              "name": "crm_base_url",
              "value": "https://www.clickin360.com",
              "type": "string"
            },
            {
              "id": "cfg-google-reviews",
              "name": "google_reviews_url",
              "value": "https://share.google/CZL2ZHAKEqVgdIEuJ",
              "type": "string"
            },
            {
              "id": "cfg-threshold",
              "name": "review_score_threshold",
              "value": "4",
              "type": "string"
            },
            {
              "id": "cfg-delay",
              "name": "google_review_delay_hours",
              "value": "24",
              "type": "string"
            }
          ]
        },
        "options": { "includeOtherFields": true }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [280, 0],
      "id": "c3d4e5f6-config-project-advocacy",
      "name": "Config: Edit These Values"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst event = root.event || root.body?.event;\nconst payload = root.payload || root.body?.payload || {};\nconst contact = payload.contact || {};\nconst settings = payload.project_stages_settings || {};\nconst locale = contact.preferred_language === 'en' ? 'en' : 'es';\nconst threshold = Number(root.review_score_threshold || settings.review_score_threshold || 4);\nconst delayHours = Number(root.google_review_delay_hours || settings.google_review_delay_hours || 24);\nconst autoReview = settings.automatic_google_review_enabled !== false;\nconst reviewUrl = root.google_reviews_url || 'https://share.google/CZL2ZHAKEqVgdIEuJ';\nconst feedbackUrl = contact.project_feedback_url || (contact.project_feedback_token ? `${(root.crm_base_url || '').replace(/\\/$/, '')}/project-feedback/${contact.project_feedback_token}` : null);\nconst score = Number(payload.feedback_score ?? payload.opportunity?.feedback_score ?? 0);\nconst guardrailPass = autoReview && contact.review_request_opt_out !== true && score >= threshold;\nreturn [{ json: { event, payload, contact, locale, threshold, delayHours, autoReview, guardrailPass: guardrailPass ? 'yes' : 'no', reviewUrl, feedbackUrl, score, contactEmail: contact.email, firstName: contact.first_name || 'there', contactId: contact.id, optOut: contact.review_request_opt_out === true, opportunityId: payload.opportunity_id, skip: feedbackUrl ? 'no' : 'yes' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 0],
      "id": "d4e5f6a7-parse-project-advocacy",
      "name": "Parse Project Payload"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "project.completed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "project.completed"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "project.feedback_received",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "project.feedback_received"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [840, 0],
      "id": "e5f6a7b8-route-project-event",
      "name": "Route By Event"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst isEn = d.locale === 'en';\nif (!d.feedbackUrl) {\n  return [{ json: { ...d, skip: true, reason: 'no_feedback_url' } }];\n}\nconst subject = isEn ? `How did we do on your project, ${d.firstName}?` : `¿Cómo fue tu proyecto, ${d.firstName}?`;\nconst text = isEn\n  ? `Hi ${d.firstName},\\n\\nYour project with ClickIn 360 is complete. We'd love your feedback — it only takes a minute:\\n\\n${d.feedbackUrl}\\n\\nThank you!`\n  : `Hola ${d.firstName},\\n\\nTu proyecto con ClickIn 360 está completo. Nos encantaría tu feedback — solo toma un minuto:\\n\\n${d.feedbackUrl}\\n\\n¡Gracias!`;\nreturn [{ json: { ...d, subject, text, toEmail: d.contactEmail, skip: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, -120],
      "id": "f6a7b8c9-build-feedback-request",
      "name": "Build Feedback Request Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": "no",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1380, -120],
      "id": "a7b8c9d0-if-has-feedback-url",
      "name": "IF Has Feedback URL?"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [1640, -120],
      "id": "b8c9d0e1-mailgun-feedback-request",
      "name": "Mailgun: Project Feedback Request",
      "continueOnFail": true,
      "credentials": {
        "mailgunApi": {
          "id": "nyCSKNSycMl74trx",
          "name": "Mailgun"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.guardrailPass }}",
              "rightValue": "yes",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 120],
      "id": "c9d0e1f2-if-review-guardrail",
      "name": "IF Review Guardrail Pass?"
    },
    {
      "parameters": {
        "amount": "={{ $json.delayHours }}",
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1380, 120],
      "id": "d0e1f2a3-wait-24h",
      "name": "Wait: Review Delay"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst isEn = d.locale === 'en';\nconst subject = isEn ? `Would you leave us a Google review, ${d.firstName}?` : `¿Nos dejas una reseña en Google, ${d.firstName}?`;\nconst text = isEn\n  ? `Hi ${d.firstName},\\n\\nThank you for the positive feedback on your project. If you have a moment, a Google review would mean a lot:\\n\\n${d.reviewUrl}\\n\\nIt only takes a minute. Thank you!`\n  : `Hola ${d.firstName},\\n\\nGracias por el feedback positivo sobre tu proyecto. Si tienes un momento, una reseña en Google nos ayudaría mucho:\\n\\n${d.reviewUrl}\\n\\nSolo toma un minuto. ¡Gracias!`;\nreturn [{ json: { ...d, subject, text, toEmail: d.contactEmail } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 120],
      "id": "e1f2a3b4-build-google-review",
      "name": "Build Google Review Email"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [1900, 120],
      "id": "f2a3b4c5-mailgun-google-review",
      "name": "Mailgun: Google Review Request",
      "continueOnFail": true,
      "credentials": {
        "mailgunApi": {
          "id": "nyCSKNSycMl74trx",
          "name": "Mailgun"
        }
      }
    }
  ],
  "connections": {
    "Project Advocacy Webhook": {
      "main": [[{ "node": "Config: Edit These Values", "type": "main", "index": 0 }]]
    },
    "Config: Edit These Values": {
      "main": [[{ "node": "Parse Project Payload", "type": "main", "index": 0 }]]
    },
    "Parse Project Payload": {
      "main": [[{ "node": "Route By Event", "type": "main", "index": 0 }]]
    },
    "Route By Event": {
      "main": [
        [{ "node": "Build Feedback Request Email", "type": "main", "index": 0 }],
        [{ "node": "IF Review Guardrail Pass?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Feedback Request Email": {
      "main": [[{ "node": "IF Has Feedback URL?", "type": "main", "index": 0 }]]
    },
    "IF Has Feedback URL?": {
      "main": [[{ "node": "Mailgun: Project Feedback Request", "type": "main", "index": 0 }], []]
    },
    "IF Review Guardrail Pass?": {
      "main": [[{ "node": "Wait: Review Delay", "type": "main", "index": 0 }], []]
    },
    "Wait: Review Delay": {
      "main": [[{ "node": "Build Google Review Email", "type": "main", "index": 0 }]]
    },
    "Build Google Review Email": {
      "main": [[{ "node": "Mailgun: Google Review Request", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true },
  "settings": { "executionOrder": "v1" }
}
