docs/n8n/ClickIn360_Onboarding_C_Advocacy.json
{
  "name": "ClickIn360 Onboarding C — Advocacy",
  "nodes": [
    {
      "parameters": {
        "content": "## Self-hosted n8n Community Edition\n\n**No Settings → Variables** on the free plan. Edit the **Config: Edit These Values** Set node (yellow fields) in each workflow instead.\n\nOptional: you can also set OS/Docker env vars on the n8n container — not required if you use the Config node.\n\n**Trigger:** onboarding.complete only.\n\nGoogle review emails moved to **ClickIn360_Project_Advocacy.json** (after positive project feedback). This flow tags the contact onboarded.",
        "height": 300,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-640, -80],
      "id": "433f9063-ae43-43bd-af33-54b3737ed725",
      "name": "INSTRUCTIONS: Advocacy"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ae1e67a5-a991-40e2-ae74-9ab817f73d57",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "43c002cc-7f15-4daa-8984-4cd6b131e491",
      "name": "Onboarding C Webhook",
      "webhookId": "ae1e67a5-a991-40e2-ae74-9ab817f73d57"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "4b9923b6-665d-4313-806b-900187933604",
              "name": "crm_base_url",
              "value": "https://www.clickin360.com",
              "type": "string"
            }
          ]
        },
        "options": { "includeOtherFields": true }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [260, 0],
      "id": "61b8245d-08ac-4e3a-9ef3-24cf444371e6",
      "name": "Config: Edit These Values"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst payload = root.payload || {};\nconst contact = payload.contact || {};\nreturn [{ json: { contact, contactEmail: contact.email, firstName: contact.first_name || 'there', contactId: contact.id, optOut: contact.review_request_opt_out === true, crm_base_url: root.crm_base_url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0],
      "id": "c89f366e-f59a-4549-b743-710392a30533",
      "name": "Parse Advocacy Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2fc64bc-d02d-4473-b44a-e180c86d890a",
              "leftValue": "={{ $json.optOut }}",
              "rightValue": "false",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [780, 0],
      "id": "0c344a97-165f-49f1-ac96-b522d5a519ee",
      "name": "IF Opted Out?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.crm_base_url }}/api/integrations/contacts/{{ $json.contactId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: \"onboarded\" }) }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1040, 0],
      "id": "64acaa93-7dc3-46b7-96c6-9b7f56a2fe75",
      "name": "CRM: Tag Contact Onboarded",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    }
  ],
  "connections": {
    "Onboarding C Webhook": {
      "main": [[{ "node": "Config: Edit These Values", "type": "main", "index": 0 }]]
    },
    "Config: Edit These Values": {
      "main": [[{ "node": "Parse Advocacy Payload", "type": "main", "index": 0 }]]
    },
    "Parse Advocacy Payload": {
      "main": [[{ "node": "IF Opted Out?", "type": "main", "index": 0 }]]
    },
    "IF Opted Out?": {
      "main": [[{ "node": "CRM: Tag Contact Onboarded", "type": "main", "index": 0 }], []]
    }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true },
  "settings": { "executionOrder": "v1" }
}
