docs/n8n/ClickIn360_Onboarding_B_Assets_Reminders.json
{
  "name": "ClickIn360 Onboarding B \u2014 Assets Reminders",
  "nodes": [
    {
      "parameters": {
        "content": "## Self-hosted n8n Community Edition\n\n**No Settings \u2192 Variables** on the free plan. Edit the **Config: Edit These Values** Set node (yellow fields) in each workflow instead.\n\nOptional: you can also set OS/Docker env vars on the n8n container \u2014 not required if you use the Config node.\n\n**Trigger:** questionnaire.submitted\n\nEdit Config: `crm_base_url` for feedback links.",
        "height": 280,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        0
      ],
      "id": "2f8e3289-3573-47b4-8be0-139b117dda34",
      "name": "INSTRUCTIONS: Onboarding B"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "74d2a3eb-0e44-4595-9fe5-01faa0ebc66b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a9f21b0c-e25f-4348-891a-8217c4f2427b",
      "name": "Onboarding B Webhook",
      "webhookId": "74d2a3eb-0e44-4595-9fe5-01faa0ebc66b"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "85da1fb9-874d-4171-abf4-0d6df5847d0e",
              "name": "crm_base_url",
              "value": "https://www.clickin360.com",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        0
      ],
      "id": "988be346-620e-4580-b30e-a665417b4043",
      "name": "Config: Edit These Values"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst crmBase = (root.crm_base_url || 'https://www.clickin360.com').replace(/\\/$/, '');\nconst payload = root.payload || {};\nconst contact = payload.contact || {};\nconst locale = payload.locale === 'en' ? 'en' : 'es';\nreturn [{ json: { ...root, contact, locale, contactEmail: contact.email, firstName: contact.first_name || 'there', feedbackUrl: contact.feedback_token ? `${crmBase}/feedback/${contact.feedback_token}` : null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "id": "32cdae38-c375-4602-beaf-a16a67e22b74",
      "name": "Parse Payload"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst isEn = d.locale === 'en';\nreturn [{ json: { toEmail: d.contactEmail, subject: isEn ? 'We received your onboarding questionnaire' : 'Recibimos tu cuestionario de incorporaci\u00f3n', text: isEn ? `Hi ${d.firstName}, thank you for completing the onboarding questionnaire. Our team will review your answers and follow up shortly.` : `Hola ${d.firstName}, gracias por completar el cuestionario de incorporaci\u00f3n. Nuestro equipo revisar\u00e1 tus respuestas y te contactar\u00e1 pronto.` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ],
      "id": "76486133-cccf-450b-90fd-85c69f911cae",
      "name": "Build Confirmation Email"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "b1fc4392-3d62-4165-b4c5-84851724e485",
      "name": "Mailgun: Questionnaire Confirmation",
      "credentials": {
        "mailgunApi": {
          "id": "686871dc-7fb6-4452-8499-05cb780996e0",
          "name": "Mailgun"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "no-reply@clickin360.com",
        "toEmail": "sales@clickin360.com",
        "subject": "Onboarding questionnaire received",
        "text": "={{ 'Contact ' + $('Parse Payload').item.json.contactEmail + ' submitted the onboarding questionnaire.' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        1300,
        0
      ],
      "id": "8ab87616-e8ec-44b0-8fc5-bee08dbc89ea",
      "name": "Mailgun: Notify Owner",
      "credentials": {
        "mailgunApi": {
          "id": "686871dc-7fb6-4452-8499-05cb780996e0",
          "name": "Mailgun"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Onboarding B Webhook": {
      "main": [
        [
          {
            "node": "Config: Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Edit These Values": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Email": {
      "main": [
        [
          {
            "node": "Mailgun: Questionnaire Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailgun: Questionnaire Confirmation": {
      "main": [
        [
          {
            "node": "Mailgun: Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "settings": {
    "executionOrder": "v1"
  }
}