docs/n8n/Final ClickIn360 Web Chat Qualification Flow (1).json
{
  "name": "ClickIn360 Web Chat Qualification Flow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.ai_prompt}}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres Andrea, asesora de ClickIn360. Hablas con dueños y equipos de tiendas eCommerce por WhatsApp. Tu trabajo es ayudarles de forma genuina: responder sus dudas, entender si tienen fricción operativa que ClickIn360 puede resolver, y —cuando tenga sentido— invitarlos a una llamada corta con el equipo.\n\nNo eres un formulario. Eres una persona amable, profesional y útil que conversa de forma natural y va entendiendo el negocio en el camino.\n\n<contexto_negocio>\nClickIn360 construye sistemas de IA y automatización para tiendas eCommerce. Conectamos canales conversacionales (WhatsApp, Instagram, Messenger, web chat) con los datos de la tienda para reducir fricción antes y después de la compra.\n\nAyudamos con cosas como: soporte al cliente automatizado, asistencia de compra, recuperación de carritos abandonados, estatus de pedidos, devoluciones y cambios, preguntas repetitivas, y sobrecarga operativa cuando el negocio crece.\n\nNo vendemos \"un chatbot\". Detectamos si el negocio tiene fricción operativa real que la automatización puede mejorar.\n\nTienes acceso a una BASE DE CONOCIMIENTO dividida en secciones como herramientas separadas:\nDESCRIPCIÓN, SERVICIOS, PLATAFORMAS, FIT, PRECIOS, FAQS y OBJECIONES.\n\nÚsalas como tu fuente de verdad cuando el usuario haga preguntas que requieran información factual sobre ClickIn360. Consulta solo la sección relevante, no todas a la vez. No uses las herramientas para saludos, captura de datos ni conversación general — solo cuando el usuario necesita información específica.\n\nCuando uses una herramienta de la KB, lee el contenido completo pero responde ÚNICAMENTE con el dato puntual que el usuario preguntó. No resumas la sección completa. Extrae solo la respuesta directa en 1-2 oraciones máximo.\n\nSi el usuario ya tiene una cita agendada y quiere cambiarla o agendar otra → next_action = \"offer_booking\" para obtener horarios frescos.\nSi el usuario regresa después de cerrar la conversación y muestra interés → retoma la calificación normalmente.\n</contexto_negocio>\n\n<estilo>\n- Español natural de México. Si el usuario escribe en inglés, responde en inglés.\n- Cálida, profesional, cercana. Como una buena asesora, no como un bot.\n- Respuestas cortas: 1 o 2 oraciones por defecto. Puedes usar hasta 3 SOLO cuando estás explicando algo que el usuario preguntó.\n- Esto es WhatsApp — la gente lee rápido y no le gustan los textos largos. Ve al grano, una idea por mensaje.\n- No acumules problema + solución + beneficio + pregunta en un solo mensaje. Elige lo más importante.\n- Usa el nombre de la persona en el primer mensaje y en uno o dos momentos clave. NUNCA en cada mensaje — eso suena robótico.\n- No repitas de vuelta todo lo que el usuario dijo. Reconoce brevemente y sigue.\n- No prometas resultados ni garantices ventas.\n- Sin tecnicismos internos, sin nombres de frameworks, sin jerga.\n- Emojis: máximo uno ocasional, solo si encaja. No en cada mensaje.\n</estilo>\n\n<ritmo_conversacion>\nEsto es lo más importante para sonar natural:\n\n- NO toda respuesta termina con una pregunta. A veces solo responde y deja que la persona continúe.\n- Responde PRIMERO lo que el usuario pregunta, de forma genuina y útil. Después, si hay un hueco natural, avanza con una pregunta.\n- Haz como máximo UNA pregunta de calificación por mensaje, y solo cuando fluya naturalmente. No encadenes preguntas como interrogatorio.\n- Si el usuario hace varias preguntas, respóndelas antes de avanzar.\n- Si el usuario está explorando o tiene dudas, quédate ahí ayudando. No lo apures hacia la calificación.\n- Deja que la conversación respire. Eres una asesora paciente, no una máquina recolectando campos.\n\nNUNCA hagas esto (demasiado largo para WhatsApp):\n\"Eso es súper común en tiendas de moda — las devoluciones y preguntas de producto pueden ocupar horas del día si no están automatizadas. Eso es exactamente lo que podemos resolver: respuestas automáticas sobre tallas, disponibilidad, políticas de cambio... todo sin que tu equipo escriba cada respuesta. ¿Me compartes tu nombre y correo?\"\n\nSÍ haz esto (corto y natural):\n\"Eso lo resolvemos justo — respuestas automáticas a las dudas y devoluciones más comunes. ¿Me compartes tu nombre y correo para que el equipo te muestre cómo quedaría?\"\n\nNUNCA hagas esto (deflectar pregunta del usuario):\nUsuario: \"¿Cuánto cuesta?\"\nMAL: \"Para darte el costo primero necesito saber qué plataforma usas.\"\n\nSÍ haz esto (responder primero):\nUsuario: \"¿Cuánto cuesta?\"\nBIEN: \"Depende del alcance y los canales, así que varía. ¿Qué es lo que más te quita tiempo hoy?\"\n</ritmo_conversacion>\n\n<primer_mensaje>\nEn tu primer mensaje de la conversación:\n- Saluda de forma cálida y preséntate brevemente como Andrea de ClickIn360.\n- Si tienes el nombre de la persona en el contexto, úsalo.\n- Da una pista de en qué puedes ayudar, sin discurso de ventas.\n- Invita a la conversación de forma abierta. NO pidas el correo todavía. NO dispares una pregunta de calificación de inmediato.\n\nEjemplo (con nombre): \"¡Hola Deivis! Soy Andrea, de ClickIn360. Ayudamos a tiendas eCommerce a manejar mejor la atención y automatizar lo repetitivo. ¿En qué te puedo ayudar hoy?\"\nEjemplo (sin nombre): \"¡Hola! Soy Andrea, de ClickIn360. Ayudamos a tiendas eCommerce a manejar mejor la atención y automatizar lo repetitivo. ¿En qué te puedo ayudar?\"\n</primer_mensaje>\n\n<extraccion_de_datos>\nAntes de preguntar cualquier cosa, EXTRAE todo lo que el usuario ya mencionó en su mensaje. Captura primero, pregunta solo lo que falta.\n\n- \"usamos Shopify\" → platform = \"Shopify\"\n- \"mi correo es x@y.com\" → email = \"x@y.com\"\n- \"nos escriben por WhatsApp e Instagram\" → channels = [\"WhatsApp\", \"Instagram\"]\n- \"nos llegan muchos mensajes de devoluciones\" → friction_area = \"after_purchase\" + señal correspondiente\n\nREGLAS:\n- NUNCA preguntes por algo que el usuario ya dijo o que ya está en el contexto del lead.\n- Si el contexto ya tiene el nombre, NUNCA preguntes el nombre.\n- channels siempre es un array. Si no sabes, [].\n- Solo llena un campo si tienes confianza real. Si no, déjalo en null. No inventes ni adivines.\n- Si el usuario corrige un dato, actualízalo.\n- No confundas nombre de persona con nombre de negocio.\n\nmain_customer_questions = preguntas que los CLIENTES del negocio hacen sobre los productos, servicios o procesos de la tienda — no las preguntas que el usuario te hace a ti sobre ClickIn360.\n</extraccion_de_datos>\n\n<pending_field>\nSi el contexto incluye un pending_field con valor, el usuario probablemente está respondiendo esa pregunta ahora. Captura el valor, úsalo, y limpia pending_field a null.\n\nCuando TÚ hagas una pregunta para capturar un dato específico, registra:\n- pending_field = el campo que estás preguntando (ej: \"email\")\n- pending_question = la pregunta exacta que hiciste\n\nSi en tu mensaje no estás pidiendo un dato específico, deja ambos en null.\n</pending_field>\n\n<deteccion_de_senales>\nMientras conversas, detecta señales de lo que el usuario dice realmente. No infieras ni adivines — solo marca una señal si el usuario expresó algo que claramente la respalda.\n\nSeñales de FRICCIÓN operativa (las más valiosas):\n- support_overload — \"nos llegan muchos mensajes\", \"el equipo no se da abasto\"\n- repetitive_questions — \"los clientes preguntan lo mismo siempre\"\n- manual_processes — \"todo es manual\", \"lo hacemos a mano\"\n- abandoned_carts — \"perdemos carritos\", \"no terminan la compra\"\n- returns_friction — \"las devoluciones son un lío\", \"los reembolsos toman tiempo\"\n- response_delays — \"respondemos lento\", \"se nos pierden mensajes\"\n- scaling_pain — \"estamos creciendo\", \"ya no es sostenible\"\n\nSeñales de FIT eCommerce:\n- has_ecommerce — tiene tienda online activa\n- supported_platform — Shopify, WooCommerce, etc.\n- uses_channels — WhatsApp, Instagram, Messenger, web chat\n- has_volume — volumen real de mensajes o pedidos\n\nSeñales de INTENCIÓN de compra:\n- asked_how_it_works — pregunta cómo funciona\n- asked_integration — pregunta si se integra con sus herramientas\n- asked_implementation — pregunta cómo se implementa o en cuánto tiempo\n- explained_workflow — explica su proceso actual por voluntad propia\n- open_to_call — abierto a hablar o agendar\n\nSeñales de URGENCIA:\n- needs_soon — \"lo necesitamos pronto\"\n- actively_looking — \"estamos evaluando opciones\"\n- affecting_operations — \"esto nos está afectando ahora\"\n\nSeñales NEGATIVAS (descalifican):\n- price_only — solo quiere precio, sin contexto ni interés en su operación\n- no_ecommerce — no tiene tienda propia / solo marketplace\n- curiosity_only — solo curiosea sobre IA, sin negocio real detrás\n- wants_full_replacement — quiere que la IA reemplace por completo a su equipo\n- out_of_scope — pide algo fuera de lo que ClickIn360 ofrece\n</deteccion_de_senales>\n\n<temperatura>\nLee la probabilidad real de que esta persona sea un buen prospecto, como lo haría una buena asesora leyendo la conversación. No es una checklist rígida — es tu juicio basado en las señales reales.\n\n- hot — Buen fit eCommerce + fricción clara + intención o urgencia. Vale claramente una llamada.\n- warm — Algo de fit y algo de fricción, pero la intención aún no es clara. En la duda entre warm y algo más, trátalo como warm.\n- cold — Solo curiosidad, sin fricción operativa, negocio muy temprano, o dominan las señales negativas.\n\nTanto hot como warm van hacia la llamada. Solo cold sale de la conversación con cortesía.\n</temperatura>\n\n<requisito_de_contacto>\nPara invitar a una llamada necesitas datos de contacto. Esto es un REQUISITO, no negociable:\n- teléfono — ya lo tienes de WhatsApp.\n- nombre — si está en el contexto, ya lo tienes. Si NO está, debes capturarlo.\n- email — casi siempre debes pedirlo explícitamente.\n\nREGLA ABSOLUTA: NUNCA uses next_action = \"offer_booking\" ni \"book_call\" si falta el email. Sin importar qué tan caliente esté el lead. Si falta email, usa \"ask_contact\" y pídelo.\n\nCuando necesites capturar contacto:\n- Si ya tienes el nombre (del contexto): pide solo el email, de forma natural.\n- Si NO tienes el nombre: pide nombre y correo juntos en una sola petición natural.\n  Ej: \"Me encantaría que lo veas con el equipo en una llamada corta. ¿Me compartes tu nombre y correo para coordinarla?\"\n</requisito_de_contacto>\n\n<decision_next_action>\nDecide next_action según la temperatura y el estado de contacto:\n\n- Si el usuario pide explícitamente hablar con un humano, menciona integración custom, agente de voz, o un caso complejo fuera de lo estándar → human_review\n\n- Si temperatura = cold → close (despídete con cortesía, deja la puerta abierta)\n\n- Si temperatura = warm o hot:\n    - Si falta email → ask_contact (pide contacto, no menciones horarios todavía)\n    - Si ya tienes email y la temperatura es warm o hot → offer_booking INMEDIATAMENTE\n      reply_to_user puede ser algo como \"Perfecto, déjame buscar los horarios disponibles.\"\n      NO preguntes \"¿te parece bien?\", NO digas \"esta semana\", NO esperes confirmación adicional\n    - Si el usuario ya seleccionó un horario (respondió 1, 2 o 3) → confirm_booking\n\n- En cualquier otro caso → continue\n\nREGLA CRÍTICA DE BOOKING:\n- offer_booking = activa el sistema para mostrar horarios frescos del calendario. TÚ no muestras horarios.\n- confirm_booking = el usuario eligió un número. TÚ confirmas en lenguaje natural, el sistema agenda.\n- NUNCA muestres horarios, fechas o números de opciones en reply_to_user — eso lo maneja el sistema automáticamente.\n- NUNCA uses book_call directamente — usa offer_booking cuando el lead está listo, confirm_booking cuando eligió.\n\nREAGENDAMIENTO:\n- Si el usuario pide otro día, dice que ninguna opción le funciona, o menciona un día específico (\"el lunes\", \"la próxima semana\", \"otro día\")  o dice que ninguna opción le funciona → next_action = \"reschedule\"\n- reply_to_user = respuesta breve reconociendo su preferencia (ej: \"Claro, déjame buscar más opciones.\")\n- NO muestres horarios — el sistema buscará opciones nuevas automáticamente\n- NO intentes verificar si el horario solicitado está disponible — no tienes esa información\n- NO menciones que el horario \"no está disponible\" — el sistema fetcha opciones frescas\n- El sistema automáticamente mostrará nuevas opciones al usuario\n\n</decision_next_action>\n\n<formato_salida>\nDevuelve ÚNICAMENTE un objeto JSON con exactamente estos campos. Sin texto antes ni después, sin markdown, sin bloques de código.\n\n{\n  \"reply_to_user\": \"tu mensaje natural para el usuario, 1-2 oraciones por defecto\",\n  \"name\": \"string o null\",\n  \"email\": \"string o null\",\n  \"platform\": \"string o null\",\n  \"channels\": [],\n  \"friction_area\": \"before_purchase | after_purchase | both | null\",\n  \"main_customer_questions\": [],\n  \"message_volume\": \"string o null\",\n  \"signals\": [],\n  \"temperature\": \"hot | warm | cold\",\n  \"next_action\": \"continue | ask_contact | offer_booking | human_review | close | confirm_booking | reschedule\",\n  \"selected_slot_index\": \"string o null\",\n  \"pending_field\": \"string o null\",\n  \"pending_question\": \"string o null\",\n  \"summary\": \"resumen breve del lead en una oración, o null\"\n}\n\nReglas del JSON:\n- reply_to_user SIEMPRE presente y natural. Máximo 2 oraciones. Hasta 3 solo si explicas algo.\n- channels, main_customer_questions y signals SIEMPRE arrays (vacíos si no hay nada).\n- temperature y next_action SIEMPRE con uno de los valores permitidos.\n- Campos sin valor confiable: null.\n- Nunca inventes datos. Nunca omitas un campo.\n- reply_to_user NUNCA debe contener horarios, fechas específicas o números de opciones de calendario.\n\nREGLA ESPECIAL — SELECCIÓN DE HORARIO:\nCuando el usuario responde con 1, 2 o 3 eligiendo un horario:\n- selected_slot_index = \"1\", \"2\" o \"3\" (el número exacto que eligió, como string)\n- next_action = \"confirm_booking\"\n- reply_to_user confirma brevemente que quedó agendado, sin mencionar fecha ni hora (el sistema las envía)\n- NUNCA dejes selected_slot_index en null cuando el usuario eligió una opción numérica\n</formato_salida>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -5376,
        1568
      ],
      "id": "2e00d740-79fe-4a09-9c3e-dbf82a7fd03c",
      "name": "AI Intake Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edf00e93-ae1e-478a-b5d0-12f207a80de0",
                    "leftValue": "={{$json.next_action}}",
                    "rightValue": "offer_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "offer_booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "94ef1e60-7423-45a9-a013-2c1e4d1c8a3f",
                    "leftValue": "={{$json.next_action}}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reschedule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd1f2c0a-efa5-4263-a52b-80210b9ab37f",
                    "leftValue": "={{$json.next_action}}",
                    "rightValue": "confirm_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirm_booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "915070ee-b318-4236-b5dd-364f0ce2c257",
                    "leftValue": "confirm_booking",
                    "rightValue": "human_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "human_review"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3024,
        1392
      ],
      "id": "18c0d9c2-a2ac-4779-a4b9-e3a69e62c9ac",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "lead_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('State Manager').item.json.session_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('State Manager').item.json.name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('State Manager').item.json.email }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('State Manager').item.json.phone_number }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('State Manager').item.json.platform }}"
            },
            {
              "fieldId": "communication_channels",
              "fieldValue": "={{ $('State Manager').item.json.communication_channels }}"
            },
            {
              "fieldId": "friction_area",
              "fieldValue": "={{ $('State Manager').item.json.friction_area }}"
            },
            {
              "fieldId": "main_customer_questions",
              "fieldValue": "={{ $('State Manager').item.json.main_customer_questions }}"
            },
            {
              "fieldId": "message_volume",
              "fieldValue": "={{ $('State Manager').item.json.message_volume }}"
            },
            {
              "fieldId": "next_action",
              "fieldValue": "={{ $('State Manager').item.json.next_action }}"
            },
            {
              "fieldId": "pending_field",
              "fieldValue": "={{ $('State Manager').item.json.pending_field }}"
            },
            {
              "fieldId": "pending_question",
              "fieldValue": "={{ $('State Manager').item.json.pending_question }}"
            },
            {
              "fieldId": "signals",
              "fieldValue": "={{ $('State Manager').item.json.signals }}"
            },
            {
              "fieldId": "latest_ai_response",
              "fieldValue": "={{ $('State Manager').item.json.latest_ai_response }}"
            },
            {
              "fieldId": "latest_user_message",
              "fieldValue": "={{ $('State Manager').item.json.latest_user_message }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('State Manager').item.json.summary }}"
            },
            {
              "fieldId": "email_valid",
              "fieldValue": "={{ $('State Manager').item.json.email_valid }}"
            },
            {
              "fieldId": "phone_valid",
              "fieldValue": "={{ $('State Manager').item.json.phone_valid }}"
            },
            {
              "fieldId": "contact_valid",
              "fieldValue": "={{ $('State Manager').item.json.contact_valid }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $('State Manager').item.json.country }}"
            },
            {
              "fieldId": "country_iso",
              "fieldValue": "={{ $('State Manager').item.json.country_iso }}"
            },
            {
              "fieldId": "country_code",
              "fieldValue": "={{ $('State Manager').item.json.country_code }}"
            },
            {
              "fieldId": "selected_slot",
              "fieldValue": "={{ $('State Manager').item.json.selected_slot }}"
            },
            {
              "fieldId": "selected_slot_index",
              "fieldValue": "={{ $('State Manager').item.json.selected_slot_index }}"
            },
            {
              "fieldId": "conversation_history",
              "fieldValue": "={{ $('State Manager').item.json.conversation_history }}"
            },
            {
              "fieldId": "temperature",
              "fieldValue": "={{ $('State Manager').item.json.temperature }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3248,
        1568
      ],
      "id": "58c567f0-4cd3-4943-bb5e-fcac3039235a",
      "name": "Update Lead Session",
      "credentials": {
        "supabaseApi": {
          "id": "RMU1A9mNhAl6E751",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "lead_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{$json.session_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6720,
        1568
      ],
      "id": "bc550a9f-bc1a-4b70-8a72-146e4748ea1b",
      "name": "Lookup Lead Session",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RMU1A9mNhAl6E751",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "lead_sessions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Normalize Web Payload').first().json.session_id }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Normalize Web Payload').first().json.phone_number }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Normalize Web Payload').first().json.name }}"
            },
            {
              "fieldId": "next_action",
              "fieldValue": "continue"
            },
            {
              "fieldId": "latest_user_message",
              "fieldValue": "={{ $('Normalize Web Payload').first().json.message }}"
            },
            {
              "fieldId": "available_slots",
              "fieldValue": "={{ [] }}"
            },
            {
              "fieldId": "conversation_history",
              "fieldValue": "={{ [] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6272,
        1632
      ],
      "id": "ca391478-5416-4b01-99a0-bbfde2b11790",
      "name": "Create Lead Session",
      "credentials": {
        "supabaseApi": {
          "id": "RMU1A9mNhAl6E751",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " // Node: \"Prepare AI Context\" — Mode: Run Once for All Items\n// Purpose: Assemble complete context for AI agent including history and lead state\n// Version: Web Chat (uses Normalize Web Payload instead of Normalize WABA Payload)\n\nconst waba = $('Normalize Web Payload').first().json || {};\n\n// === GET SESSION ROW ===\nlet row = {};\ntry {\n  const lookup = $('Lookup Lead Session').first().json;\n  if (lookup && lookup.session_id) row = lookup;\n} catch(e) {}\ntry {\n  if (!row.session_id) {\n    const created = $('Create Lead Session').first().json;\n    if (created && created.session_id) row = created;\n  }\n} catch(e) {}\n\n// === LEAD STATE ===\nconst state = {\n  name:                    row.name                    || waba.name || null,\n  email:                   row.email                   || waba.email || null,\n  email_valid:             row.email_valid              || false,\n  phone_number:            row.phone_number             || waba.phone_number || null,\n  platform:                row.platform                 || null,\n  communication_channels:  row.communication_channels   || [],\n  main_customer_questions: row.main_customer_questions  || [],\n  message_volume:          row.message_volume           || null,\n  friction_area:           row.friction_area            || null,\n  signals:                 row.signals                  || [],\n  temperature:             row.temperature              || \"cold\",\n  next_action:             row.next_action              || \"continue\",\n  pending_field:           row.pending_field            || null,\n  pending_question:        row.pending_question         || null,\n  country:                 row.country                  || null,\n  available_slots:         row.available_slots          || [],\n  selected_slot:           row.selected_slot            || null,\n  summary:                 row.summary                  || \"\"\n};\n\n// === CONVERSATION HISTORY ===\nlet history = [];\ntry {\n  let raw_history = row.conversation_history;\n  if (typeof raw_history === 'string') raw_history = JSON.parse(raw_history);\n  if (raw_history && typeof raw_history === 'object' && !Array.isArray(raw_history)) {\n    raw_history = raw_history.data || raw_history.value || [];\n  }\n  if (Array.isArray(raw_history)) history = raw_history;\n  else history = [];\n} catch(e) {\n  history = [];\n}\n\nconst recentHistory = history.slice(-20);\nconst historyText = recentHistory.length > 0\n  ? recentHistory.map(function(h) {\n      return (h.role === 'user' ? 'Usuario' : 'Andrea') + ': ' + h.content;\n    }).join('\\n')\n  : \"Primera interaccion con este usuario.\";\n\n// === LEAD STATE AS NATURAL LANGUAGE ===\nconst lines = [];\nlines.push(\"- Nombre: \"           + (state.name          || 'No capturado'));\nlines.push(\"- Email: \"            + (state.email\n  ? state.email + (state.email_valid ? ' (verificado)' : ' (sin verificar)')\n  : 'No capturado'));\nlines.push(\"- Telefono: \"         + (state.phone_number   || 'No capturado'));\nif (state.country) lines.push(\"- Pais: \" + state.country);\nlines.push(\"- Plataforma: \"       + (state.platform       || 'No capturada'));\nlines.push(\"- Volumen mensajes: \" + (state.message_volume || 'No capturado'));\nlines.push(\"- Canales: \"          + (\n  state.communication_channels && state.communication_channels.length > 0\n    ? state.communication_channels.join(', ')\n    : 'No capturados'\n));\nlines.push(\"- Friccion: \"         + (state.friction_area  || 'No capturada'));\nlines.push(\"- Temperatura: \"      + state.temperature);\nif (state.signals && state.signals.length > 0) {\n  lines.push(\"- Senales: \" + state.signals.join(', '));\n}\nif (state.main_customer_questions && state.main_customer_questions.length > 0) {\n  lines.push(\"- Preguntas del cliente: \" + state.main_customer_questions.join(', '));\n}\nif (state.summary) lines.push(\"- Resumen: \" + state.summary);\n\nconst stateText = lines.join('\\n');\n\n// === PENDING FIELD CONTEXT ===\nconst pendingText = state.pending_field\n  ? (\n      \"CAMPO PENDIENTE: \\\"\" + state.pending_field + \"\\\"\\n\" +\n      \"PREGUNTA HECHA: \\\"\" + (state.pending_question || 'N/A') + \"\\\"\\n\" +\n      \"El usuario probablemente esta respondiendo esta pregunta ahora. \" +\n      \"Captura el valor y limpia pending_field a null.\"\n    )\n  : \"Sin campo pendiente.\";\n\n// === SLOT SELECTION CONTEXT ===\nconst isWaitingForSlot = (\n  Array.isArray(state.available_slots) &&\n  state.available_slots.length > 0 &&\n  state.next_action === 'book_call'\n);\n\nconst slotContext = isWaitingForSlot\n  ? (\n      \"=== SELECCION DE HORARIO ===\\n\" +\n      \"El usuario esta eligiendo un horario de los que se le presentaron.\\n\" +\n      \"Opciones disponibles:\\n\" +\n      state.available_slots.map(function(s, i) {\n        return (i + 1) + \") \" + s;\n      }).join(\"\\n\") + \"\\n\\n\" +\n      \"INSTRUCCIONES:\\n\" +\n      \"- Si el usuario responde 1, 2 o 3 → confirma el horario elegido, \" +\n      \"establece selected_slot_index = numero elegido, next_action = 'confirm_booking'.\\n\" +\n      \"- Si el usuario pide otro dia u horario → next_action = 'reschedule'.\\n\" +\n      \"- Si el usuario cancela o no quiere → next_action = 'close'.\\n\" +\n      \"- No preguntes nada mas. Solo confirma la seleccion y responde con el horario en lenguaje natural.\"\n    )\n  : \"\";\n\n// === ASSEMBLE PROMPT ===\nconst ai_prompt =\n  \"=== HISTORIAL DE CONVERSACION ===\\n\" +\n  historyText + \"\\n\\n\" +\n  \"=== NUEVO MENSAJE DEL USUARIO ===\\n\" +\n  waba.message + \"\\n\\n\" +\n  \"=== LO QUE SABEMOS DEL LEAD ===\\n\" +\n  stateText + \"\\n\\n\" +\n  \"=== CONTEXTO DE TURNO ANTERIOR ===\\n\" +\n  pendingText + \"\\n\\n\" +\n  (slotContext ? slotContext + \"\\n\\n\" : \"\") +\n  \"=== ESTADO ACTUAL DEL FLUJO ===\\n\" +\n  \"- Accion previa: \" + state.next_action + \"\\n\" +\n  \"- Temperatura: \"   + state.temperature;\n\nconsole.log(\n  \"Context ready | \" + state.phone_number +\n  \" | next_action: \" + state.next_action +\n  \" | history: \" + recentHistory.length + \" msgs\" +\n  \" | slots: \" + state.available_slots.length +\n  \" | pending: \" + (state.pending_field || 'none') +\n  \" | source: webchat\"\n);\n\n// === RETURN ===\nreturn [{\n  json: {\n    ...row,\n    session_id:          row.session_id    || waba.session_id,\n    phone_number:        row.phone_number  || waba.phone_number,\n    email:               row.email         || waba.email || null,\n    latest_user_message: waba.message,\n    webhook_name:        waba.name         || null,\n    source:              \"webchat\",\n    state:               state,\n    history:             history,\n    ai_prompt:           ai_prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6048,
        1568
      ],
      "id": "22761f5c-6f86-417f-950b-4d2ef56e64d9",
      "name": "Prepare AI Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9f520bd-278a-418d-8aa3-af975a542ac8",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6496,
        1568
      ],
      "id": "3af37976-2321-4095-a29e-de8138652c80",
      "name": "Session Exists?"
    },
    {
      "parameters": {
        "jsCode": "// Node: \"State Manager\" — Mode: Run Once for All Items\n// Purpose: Merge AI output with existing session state and build updated history\n\nconst ai   = $input.first().json.output || $input.first().json;\nconst waba = $('Normalize Web Payload').first().json;\n// === GET EXISTING SESSION ===\nlet row = {};\ntry {\n  const lookup = $('Lookup Lead Session').first().json;\n  if (lookup && lookup.session_id) row = lookup;\n} catch(e) {}\ntry {\n  if (!row.session_id) {\n    const created = $('Create Lead Session').first().json;\n    if (created && created.session_id) row = created;\n  }\n} catch(e) {}\n\n// === REBUILD CONVERSATION HISTORY ===\nlet history = [];\ntry {\n  let raw = row.conversation_history;\n  if (typeof raw === 'string') raw = JSON.parse(raw);\n  if (raw && typeof raw === 'object' && !Array.isArray(raw)) {\n    raw = raw.data || raw.value || [];\n  }\n  if (Array.isArray(raw)) history = raw;\n} catch(e) {\n  history = [];\n}\n\n// Append this turn\nhistory.push({ role: \"user\",      content: waba.message });\nhistory.push({ role: \"assistant\", content: ai.reply_to_user });\n\n// Cap at 40 messages (20 exchanges)\nif (history.length > 40) history = history.slice(-40);\n\n// === RESOLVE SELECTED SLOT ===\n// If AI returned a slot index, resolve the actual ISO datetime from available_slots\nconst availableSlots = Array.isArray(row.available_slots) ? row.available_slots : [];\nconst aiSlotIndex    = (ai.selected_slot_index != null && ai.selected_slot_index !== undefined)\n  ? Number(ai.selected_slot_index)\n  : null;\n\nconst resolvedSlotIndex = aiSlotIndex ?? row.selected_slot_index ?? null;\nconst resolvedSlot      = (aiSlotIndex != null && availableSlots.length > 0)\n  ? (availableSlots[aiSlotIndex - 1] || null)   // user picks 1-based, array is 0-based\n  : (row.selected_slot || null);\n\n// === MERGE STATE ===\n// Rule: only overwrite existing DB value if AI captured something new\nconst merged = {\n  session_id:              row.session_id,\n  phone_number:            row.phone_number               || waba.phone_number,\n\n  // Identity\n  name:                    ai.name                        || row.name            || waba.name || null,\n  email:                   ai.email                       || row.email           || null,\n\n  // eCommerce profile\n  platform:                ai.platform                    || row.platform        || null,\n  communication_channels:  ai.channels && ai.channels.length > 0\n                             ? ai.channels\n                             : (row.communication_channels || []),\n  friction_area:           ai.friction_area               || row.friction_area   || null,\n  main_customer_questions: ai.main_customer_questions && ai.main_customer_questions.length > 0\n                             ? ai.main_customer_questions\n                             : (row.main_customer_questions || []),\n  message_volume:          ai.message_volume              || row.message_volume  || null,\n\n  // Decision layer\n  signals:                 ai.signals && ai.signals.length > 0\n                             ? ai.signals\n                             : (row.signals || []),\n  temperature:             ai.temperature                 || row.temperature     || \"cold\",\n  next_action:             ai.next_action                 || row.next_action     || \"continue\",\n  summary:                 ai.summary                     || row.summary         || null,\n\n  // Pending turn tracking (always use AI's latest values)\n  pending_field:           ai.pending_field               ?? null,\n  pending_question:        ai.pending_question            ?? null,\n\n  // Validation flags (never downgrade) — email_valid wired in Phase 2\n  email_valid:             row.email_valid                || false,\n  phone_valid:             row.phone_valid                || false,\n  contact_valid:           row.contact_valid              || false,\n\n  // Conversation memory\n  conversation_history:    history,\n\n  // Latest turn\n  latest_user_message:     waba.message,\n  latest_ai_response:      ai.reply_to_user,\n\n  // Booking\n  available_slots:         availableSlots,\n  selected_slot:           resolvedSlot,\n  selected_slot_index:     resolvedSlotIndex,\n  booking_confirmed_at:    row.booking_confirmed_at       || null,\n\n  // CRM\n  ghl_contact_id:          row.ghl_contact_id             || null,\n\n  // Location (preserve existing)\n  country:                 row.country                    || null,\n  country_iso:             row.country_iso                || null,\n  country_code:            row.country_code               || null\n};\n\nconsole.log(\n  \"State merged | \" + merged.session_id +\n  \" | temp: \"        + merged.temperature +\n  \" | next: \"        + merged.next_action +\n  \" | signals: \"     + (merged.signals || []).length +\n  \" | pending: \"     + (merged.pending_field || 'none') +\n  \" | history: \"     + history.length + \" msgs\" +\n  \" | slot_index: \"  + (merged.selected_slot_index || 'none') +\n  \" | slot: \"        + (merged.selected_slot || 'none')\n);\n\nreturn [{ json: merged }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4592,
        1568
      ],
      "id": "76d0a456-0624-4e68-b022-b4b55a2bfd6b",
      "name": "State Manager"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"reply_to_user\": \"string\",\n  \"name\": \"string | null\",\n  \"email\": \"string | null\",\n  \"platform\": \"string | null\",\n  \"channels\": [\"array\"],\n  \"friction_area\": \"before_purchase | after_purchase | both | null\",\n  \"main_customer_questions\": [\"array\"],\n  \"message_volume\": \"string | null\",\n  \"signals\": [\"array\"],\n  \"temperature\": \"hot | warm | cold\",\n  \"next_action\": \"continue | ask_contact | offer_booking | book_call | human_review | close | confirm_booking | reschedule\",\n  \"selected_slot_index\": \"string | null\",\n  \"pending_field\": \"string | null\",\n  \"pending_question\": \"string | null\",\n  \"summary\": \"string | null\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4800,
        1792
      ],
      "id": "0c6696d0-63cc-4f89-8ddd-d562c23259f8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usar cuando el usuario pregunta qué es ClickIn360, qué hace, cómo funciona en general, o si la IA reemplaza al equipo.",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1vPhJwp6k75OGxttotsA_Lfed1ulV7xlla33izL_SCnk/edit?tab=t.0#heading=h.s6xpbxfgs73b"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -5696,
        1792
      ],
      "id": "8c27f46a-27f9-4fba-a4f7-21892c41f588",
      "name": "DESCRIPCION",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2khwaTWyzZUlzUQd",
          "name": "Workspace"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usar cuando el usuario pregunta qué servicios ofrece ClickIn360, qué automatizaciones puede hacer, si puede ayudar con devoluciones, carritos abandonados, soporte post-compra, notificaciones, o cualquier capacidad específica del sistema.",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1Ip8-c9Nm-msCpgFYBHMKw3KfHCz4RGbU_YkV_5Ra-uw/edit?tab=t.0#heading=h.kqg5isvdtjvs"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -5568,
        1792
      ],
      "id": "396a96ab-b364-488f-8340-8a5a20781ad1",
      "name": "SERVICIOS",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2khwaTWyzZUlzUQd",
          "name": "Workspace"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usar cuando el usuario pregunta si ClickIn360 funciona con su plataforma eCommerce (Shopify, WooCommerce, etc.), con WhatsApp, o con alguna herramienta específica como un CRM o sistema de envíos.",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1js_IJCu8gfxfqZ-caR0_BBcMvZz2hBZ8ZWaIMtAygv4/edit?tab=t.0#heading=h.jmizuonvts8q"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -5440,
        1792
      ],
      "id": "61c010e3-15a4-409a-b6b0-d9e84bd76e61",
      "name": "PLATAFORMAS",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2khwaTWyzZUlzUQd",
          "name": "Workspace"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usar cuando necesitas evaluar si el negocio del usuario es buen fit o mal fit para ClickIn360, o cuando el usuario pregunta para qué tipo de tiendas funciona.",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1SaiJ8BY7CCSUMG7f6dXP5kBrFDuO_CFftsmwxBU6K9U/edit?tab=t.0#heading=h.sq2yn1ebl1am"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -5312,
        1792
      ],
      "id": "2d8120fd-fd74-4fa4-9883-2f8c2681b0e9",
      "name": "FIT",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2khwaTWyzZUlzUQd",
          "name": "Workspace"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": " Usar cuando el usuario pregunta sobre costos, precios, tarifas, o cuánto cuesta el sistema.",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1cpEkhFFg1sv3f-aEgWkel47ldC0t_Od7RSyJgBw7L8Y/edit?tab=t.0#heading=h.30f16no5b9ld"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -5184,
        1792
      ],
      "id": "072c6c26-c051-4eed-996d-19b3a824da18",
      "name": "PRECIOS",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2khwaTWyzZUlzUQd",
          "name": "Workspace"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usar cuando el usuario hace una pregunta frecuente sobre el sistema que no está cubierta por las otras secciones: implementación, seguridad, datos, tiempo, equipo técnico, canales múltiples, mensajes outbound, etc.",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/13SEVpjsUVlAkm86ZnYjyMy365JGF6rJvOap9LV_7naw/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -5056,
        1792
      ],
      "id": "1ee57714-4a55-44bc-8fc7-3d746f8b1bf4",
      "name": "FAQS",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2khwaTWyzZUlzUQd",
          "name": "Workspace"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usar cuando el usuario expresa una objeción, duda o resistencia como \"ya tenemos un chatbot\", \"no queremos reemplazar al equipo\", \"no sé si funciona con nuestra plataforma\", o \"ya lo intentamos antes\".",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1S17NZjgvrnX6QFXaHpK_hX3MTrelAZ0VMFOv0hu0RIM/edit?tab=t.0#heading=h.lhv1t39ayzb1"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -4928,
        1792
      ],
      "id": "20b9f69f-b45f-476e-9e4d-a95808ef9d85",
      "name": "OBJECIONES",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2khwaTWyzZUlzUQd",
          "name": "Workspace"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        -5824,
        1792
      ],
      "id": "3d056b89-dc01-452a-b13a-1133b9bd54a0",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ev08r7wh8gQBYJRR",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: \"Normalize Web Payload\" — Mode: Run Once for All Items\n// Purpose: Extract clean fields from web chat webhook payload\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst session_id   = body.session_id  || null;\nconst message      = body.message     || \"\";\nconst name         = body.name        || null;\nconst email        = body.email       || null;\nconst phone_number = body.phone       || \"webchat_\" + (session_id || \"unknown\");\n\nif (!session_id) {\n  throw new Error(\"session_id is required from web chat widget\");\n}\n\nif (!message) {\n  throw new Error(\"message is required\");\n}\n\nconsole.log(\"Web chat | session: \" + session_id + \" | message: \" + message.substring(0, 50));\n\nreturn [{\n  json: {\n    session_id:    session_id,\n    phone_number:  phone_number,\n    message:       message,\n    name:          name,\n    email:         email,\n    message_lower: message.toLowerCase().trim(),\n    source:        \"webchat\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7616,
        1472
      ],
      "id": "ac1d914c-dcb9-469c-b66a-293bf50ab9e4",
      "name": "Normalize Web Payload"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webchat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7840,
        1472
      ],
      "id": "1369e4df-3133-4e4e-bd82-2497ddb02734",
      "name": "Webhook",
      "webhookId": "fa0d8bfe-71b4-4420-8484-b254d4345a83"
    },
    {
      "parameters": {
        "url": "=https://www.clickin360.com/api/leads/booking-offers?lang=es&reschedule={{ $json.next_action === 'reschedule' ? 'true' : 'false' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2800,
        1248
      ],
      "id": "e6b4d4d6-0ca1-4e18-a509-9cf1107467eb",
      "name": "CRM: Get Booking Offers",
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.clickin360.com/api/leads/bookings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact_info: { name: $('State Manager').first().json.name || 'Visitor', email: $('State Manager').first().json.email, phone: $('State Manager').first().json.phone_number }, slot_index: $('State Manager').first().json.selected_slot_index, offered_slots: $('State Manager').first().json.available_slots, ai_insights: { platform: $('State Manager').first().json.platform || undefined, ai_summary: $('State Manager').first().json.summary || undefined }, conversation_transcript: $('State Manager').first().json.conversation_history.map(h => (h.role === 'user' ? 'Usuario' : 'Andrea') + ': ' + h.content).join(' | '), source: 'webchat', language: 'es', reschedule: $('State Manager').first().json.next_action === 'reschedule' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2800,
        1440
      ],
      "id": "e47caea8-70ed-4cc5-9ef0-18998ac717fd",
      "name": "CRM: Book Appointment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.latest_ai_response }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2800,
        1632
      ],
      "id": "353f8281-afbf-4c84-82df-acc39fd031e9",
      "name": "Respond: Message"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.latest_ai_response }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2352,
        1248
      ],
      "id": "8f0e4206-5ea6-413a-a463-43cf14a761d2",
      "name": "Respond: Slots"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.confirmation_message}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2576,
        1440
      ],
      "id": "2d56ff7b-5e8e-4672-888e-10c864eaaaa6",
      "name": "Respond: Booking Confirmed"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "lead_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('State Manager').first().json.session_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "available_slots",
              "fieldValue": "={{ $json.available_slots }}"
            },
            {
              "fieldId": "next_action",
              "fieldValue": "={{ $json.next_action }}"
            },
            {
              "fieldId": "latest_ai_response",
              "fieldValue": "={{ $json.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2576,
        1248
      ],
      "id": "ab19045d-821e-4460-9629-ef6138e6bcbc",
      "name": "Update Slots in DB",
      "credentials": {
        "supabaseApi": {
          "id": "RMU1A9mNhAl6E751",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.clickin360.com/api/leads/webchat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4144,
        1568
      ],
      "id": "94588388-2175-4d6d-9b5d-79ed8dc81a69",
      "name": "CRM UPDATE",
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Build transcript\nlet transcript = '';\nif (Array.isArray(data.conversation_history)) {\n  transcript = data.conversation_history\n    .map(msg => {\n      const role = msg.role === 'user' ? 'Usuario' : 'Andrea';\n      return role + ': ' + (msg.content || '');\n    })\n    .join('\\n');\n}\n\nconst payload = {\n  contact_info: {\n    name: data.name || 'Visitor',\n    email: data.email || 'contact@example.com',\n    phone: data.phone_number || 'webchat'\n  },\n  ai_insights: {\n    platform: data.platform ? String(data.platform) : '',  // Convert to string, empty if null\n    friction_area: data.friction_area ? String(data.friction_area) : '',  // Convert to string\n    communication_channels: Array.isArray(data.communication_channels) \n      ? data.communication_channels.join(', ')  // Convert array to comma-separated string\n      : (data.communication_channels ? String(data.communication_channels) : ''),\n    signals: Array.isArray(data.signals) \n      ? data.signals.join(', ')  // Convert array to comma-separated string\n      : (data.signals ? String(data.signals) : ''),\n    temperature: data.temperature ? String(data.temperature) : 'cold',\n    ai_summary: data.summary ? String(data.summary) : '',\n    qualified: (data.temperature === 'hot' || data.temperature === 'warm') ? true : false\n  },\n  conversation_transcript: transcript || '',\n  source: 'webchat'\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4368,
        1568
      ],
      "id": "e8cdb33b-ae59-4cf9-abfd-2fc29343410f",
      "name": "Build CRM payload"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.clickin360.com/api/integrations/contacts/{{ $json.contact_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3472,
        1488
      ],
      "id": "7b93dcb3-a3eb-4ac7-8241-9584112f1db8",
      "name": "CRM CONTACT UPDATES",
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crmResponse = $json;  // This is CRM UPDATE response (has contact_id)\nconst contact_id = crmResponse.contact_id;\nconst data = $('Build CRM payload').first().json;  // Get the payload with name, platform, etc.\n\nconst payload = { contact_id };\n\nif (data.contact_info.name && data.contact_info.name !== 'Visitor') {\n  const parts = data.contact_info.name.trim().split(' ');\n  payload.first_name = parts[0];\n  payload.last_name = parts.slice(1).join(' ') || 'User';\n}\n\nif (data.contact_info.email && data.contact_info.email.includes('@') && data.contact_info.email !== 'contact@example.com') {\n  payload.email = data.contact_info.email;\n}\n\nif (data.ai_insights.platform) payload.platform = data.ai_insights.platform;\nif (data.ai_insights.friction_area) payload.friction_area = data.ai_insights.friction_area;\nif (data.ai_insights.communication_channels) payload.communication_channels = data.ai_insights.communication_channels;\nif (data.ai_insights.signals) payload.signals = data.ai_insights.signals;\nif (data.ai_insights.ai_summary) payload.ai_summary = data.ai_insights.ai_summary;\n\nif (contact_id && Object.keys(payload).length > 1) {\n  return [{ json: payload }];\n} else {\n  return [{ json: { skip_update: true } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3920,
        1568
      ],
      "id": "34333c9f-20e4-48b1-b440-aeffb42c6aec",
      "name": "Build Contact Update"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "20395464-7558-410d-80ff-509daba22f7e",
              "leftValue": "={{ $json.skip_update }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "id": "af3c4c15-b834-457a-861e-729a305ae9ad",
              "leftValue": "{{ $json.contact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3696,
        1568
      ],
      "id": "ba32334c-0713-4542-aba8-0ed77bd28b31",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.clickin360.com/api/integrations/conversations/session-state",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $('Normalize Web Payload').first().json.session_id, channel: 'webchat', phone_number: $('Normalize Web Payload').first().json.phone_number, name: $('Normalize Web Payload').first().json.name }) }}",
        "options": {}
      },
      "id": "e8e003fa-83b1-403f-9f49-5a6433e4140b",
      "name": "CRM: Check Session State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -7392,
        1472
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea9fb2a7-978f-41bb-a711-ee6c87b1d16f",
              "leftValue": "={{ $json.handler }}",
              "rightValue": "human",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "282b5e3c-adfe-47c3-b199-5192cb6f2e21",
      "name": "CRM: Human Handler Branch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7168,
        1472
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Normalize Web Payload').first().json }];"
      },
      "id": "22a90ae6-7764-4f29-bfad-3e179cc428bd",
      "name": "Pass Session Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6944,
        1568
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.clickin360.com/api/integrations/conversations/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $('Normalize Web Payload').first().json.session_id, channel: 'webchat', phone_number: $('Normalize Web Payload').first().json.phone_number, name: $('Normalize Web Payload').first().json.name, inbound_message: $('Normalize Web Payload').first().json.message, ai_reply: null, next_action: 'continue', qualification: {}, human_review_requested: false }) }}",
        "options": {}
      },
      "id": "f965a79c-b249-4667-9ca7-5fe85504217d",
      "name": "CRM: Sync Inbound Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -6944,
        1376
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2012dfe6-861f-4060-80f4-ddff31ed6de3",
      "name": "Respond: Human Handler",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -6720,
        1376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.clickin360.com/api/integrations/conversations/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $('State Manager').first().json.session_id, channel: 'webchat', phone_number: $('State Manager').first().json.phone_number, name: $('State Manager').first().json.name, inbound_message: $('Normalize Web Payload').first().json.message, ai_reply: $('State Manager').first().json.latest_ai_response, next_action: $('State Manager').first().json.next_action, qualification: { name: $('State Manager').first().json.name, email: $('State Manager').first().json.email, platform: $('State Manager').first().json.platform, channels: $('State Manager').first().json.communication_channels || [], friction_area: $('State Manager').first().json.friction_area, signals: $('State Manager').first().json.signals || [], temperature: $('State Manager').first().json.temperature, summary: $('State Manager').first().json.summary, message_volume: $('State Manager').first().json.message_volume, main_customer_questions: $('State Manager').first().json.main_customer_questions || [] }, contact_id: $('CRM UPDATE').first().json.contact_id || null, human_review_requested: $('State Manager').first().json.next_action === 'human_review' }) }}",
        "options": {}
      },
      "id": "0149f59c-20ed-4c69-90a7-bd14a415d2a6",
      "name": "CRM: Sync Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3024,
        1680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avN9SN9QlpkztmyC",
          "name": "CRM API"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.clickin360.com",
            "user-agent": "node",
            "content-length": "214",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "via": "1.1 Caddy",
            "x-forwarded-for": "5.78.238.220",
            "x-forwarded-host": "n8n.clickin360.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "session_id": "3d1b52ad-d885-4e13-9551-0df455c38cd2",
            "message": "hola tengo una tienda de shopify, y recibimos muchos mensajes por whatsapp y por redes sociales, cuanto cuesta wl sistema?",
            "email": "tiago@gmail.com"
          },
          "webhookUrl": "https://n8n.clickin360.com/webhook/webchat",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "AI Intake Agent": {
      "main": [
        [
          {
            "node": "State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "CRM: Get Booking Offers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRM: Get Booking Offers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRM: Book Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Respond: Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Session": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "CRM: Sync Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Lead Session": {
      "main": [
        [
          {
            "node": "Session Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead Session": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context": {
      "main": [
        [
          {
            "node": "AI Intake Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Exists?": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Lead Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Manager": {
      "main": [
        [
          {
            "node": "Build CRM payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "DESCRIPCION": {
      "ai_tool": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SERVICIOS": {
      "ai_tool": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PLATAFORMAS": {
      "ai_tool": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FIT": {
      "ai_tool": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PRECIOS": {
      "ai_tool": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQS": {
      "ai_tool": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OBJECIONES": {
      "ai_tool": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Intake Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Web Payload": {
      "main": [
        [
          {
            "node": "CRM: Check Session State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Web Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Get Booking Offers": {
      "main": [
        [
          {
            "node": "Update Slots in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Book Appointment": {
      "main": [
        [
          {
            "node": "Respond: Booking Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Slots in DB": {
      "main": [
        [
          {
            "node": "Respond: Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM UPDATE": {
      "main": [
        [
          {
            "node": "Build Contact Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CRM payload": {
      "main": [
        [
          {
            "node": "CRM UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM CONTACT UPDATES": {
      "main": [
        [
          {
            "node": "Update Lead Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Contact Update": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CRM CONTACT UPDATES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Lead Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Check Session State": {
      "main": [
        [
          {
            "node": "CRM: Human Handler Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Human Handler Branch": {
      "main": [
        [
          {
            "node": "CRM: Sync Inbound Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Session Context": {
      "main": [
        [
          {
            "node": "Lookup Lead Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Sync Inbound Only": {
      "main": [
        [
          {
            "node": "Respond: Human Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "29df574d-59eb-46fe-a43a-b93128586979",
  "meta": {
    "instanceId": "d3fa9cdd620dd2c6b69b121e71ddbcc9471c89fa2a348af4786bfb8119fd5402"
  },
  "nodeGroups": [],
  "id": "Iudvgn3ORQGF9VLE",
  "tags": []
}